---
import SiteLayout, { type Breadcrumb } from '../../../../../../layouts/SiteLayout.astro';
import { BASE_URL, TWITTER_CARD_SUMMARY } from '../../../../../../consts';
import { Image } from 'astro:assets';
import refactoring from '../../../img/refactoring.jpg';
import legacy_code from '../../../img/legacy_code.jpg';
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { movingFeaturesBcList } from '../Moving_Features_between_Objects.astro';

export const inlineClassBc: Breadcrumb = {
  name: "Inline Class",
  item: `${BASE_URL}/contents/development/refactoring/category/sub_movingfeatures/Inline_Class`
};
export const inlineClassBcList: Breadcrumb[] = [...movingFeaturesBcList, inlineClassBc];
const indexList: index[] = [
  { id: '#inlineclass', name: 'Inline Class' }
];
---

<SiteLayout
  title="Inline Class"
  description="リファクタリング技法：Inline Classの解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  breadcrumbList={inlineClassBcList}
  indexList={indexList}
>

  <br>
  <h3 class="title" id="inlineclass">Inline Class</h3>
  <p>ここでは<a href=`${BASE_URL}/contents/development/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={refactoring} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={legacy_code} alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>

  <h1 id="movingfeaturesbetweenobjects">Moving Features between Objects</h1>
  <p><a href="https://sourcemaking.com/refactoring/moving-features-between-objects" target="_blank" rel="noopener noreferrer">Moving Features between Objects</a></p>

  <h2>Inline Class</h2>
  <p><a href="https://sourcemaking.com/refactoring/inline-class" target="_blank" rel="noopener noreferrer">Inline Class</a></p>
  <p>ほとんど何もせず、何の責任もなく、責任が追加される計画もないようなクラスは、その機能を既存の適切なクラスに移動しましょう。</p>
  <p><strong><em>関連するCode Smell</em></strong></p>
  <ul>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#shotgun-surgery" target="_blank" rel="noopener noreferrer">Shotgun Surgery</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#lazy-class" target="_blank" rel="noopener noreferrer">Lazy Class</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#dead-code" target="_blank" rel="noopener noreferrer">Dead Code</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#speculative-generality" target="_blank" rel="noopener noreferrer">Speculative Generality</a></li>
  </ul>
</SiteLayout>
