---
import { Image } from "astro:assets";
import authorize_picture from './authorize_picture.png';
const { kbn } = Astro.props;

const auth = {
  link: `<a href="#implicit_grant_flow">Implicit grant flow</a>の response_type が token から code に変わる以外は同じです。`,
  resType: "code",
}
const imp = {
  link: `<a href="#auth_code_grant_flow">Authorization code grant flow</a>の response_type が code から token に変わる以外は同じです。`,
  resType: "token",
}

const map = new Map()
map.set("authorization", auth)
map.set("implicit", imp)
---

  <p>
    図の手順について以下に説明します。<br>
    リソースオーナー＝自分という前提で書いています。<br>
  </p>
  <p>
    <b>1. 認可リクエスト</b><br>
    以下のような形式の URL をブラウザに入力します。
    <span set:html={map.get(kbn).link} /><br>
  </p>

<pre><code>https://id.twitch.tv/oauth2/authorize
?client_id=[clientID]
&force_verify=false
&redirect_uri=[redirectURI]
&response_type={map.get(kbn).resType}
&scope=[必要なスコープ]
&state=[state]
</code></pre>

  <div style="padding-left: 1em;">
    <ul>
      <li>clientID：<a href="#register_application">アプリケーションの登録</a>で取得したクライアントID</li>
      <li>force_verify：任意指定項目。ユーザーにアプリのリソースへのアクセスを再承認させる場合はtrueに設定します。デフォルトはfalse</li>
      <li>redirectURI：<a href="#register_application">アプリケーションの登録</a>で設定したリダイレクトURI</li>
      <li>response_type：{map.get(kbn).resType} を指定します。</li>
      <li>必要なスコープ：<a href="https://dev.twitch.tv/docs/authentication/scopes/" target="_blank" rel="noopener noreferrer">リンク先を参考に必要なスコープを指定</a></li>
      <li>
        state：任意指定項目。CSRF(Cross-Site Request Forgery)対策なので、セキュリティ的には指定した方が安全。任意の文字列を指定。<br>
        <a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#authorization-code-grant-flow" target="_blank" rel="noopener noreferrer">リンク先のサンプル</a> では c3ab8aa609ea11e793ae92361f002671 という文字列が設定されている。
      </li>
    </ul>
  </div>

  <p>
    必要なスコープは、発行する API ごとに異なります。例えば、投票を開始する API を呼び出す場合、 <a href="https://dev.twitch.tv/docs/api/polls/" target="_blank" rel="noopener noreferrer">Polls</a> を見ると「The endpoint requires a user access token with scope channel:manage:polls」とあるので、必要なスコープは「channel:manage:polls」だということがわかります。<br>
    この場合、URLに指定するスコープは<br>
  </p>
  <pre><code>channel%3Amanage%3Apolls</code></pre>
  <p>
    となります。ここで「%3A」は「:」のURLエンコードです。<br>
    2つ以上のスコープを連結したい場合は「+」で二つのスコープを連結します。<br>
  </p>
  <pre><code>channel%3Amanage%3Apolls+channel%3Aread%3Apolls</code></pre>
  <p>
    これを踏まえ、URL全体としては以下のようになります。<br>
  </p>

<pre><code>https://id.twitch.tv/oauth2/authorize
?client_id=[clientID]
&redirect_uri=[redirectURI]
&response_type={map.get(kbn).resType}
&scope=channel%3Amanage%3Apolls+channel%3Aread%3Apolls
&state=c3ab8aa609ea11e793ae92361f002671
</code></pre>

  <br>
  <p>
    <b>2. ログイン要求</b><br>
    Twitchにログインしていない場合、ログインを要求されます。<br>
  </p>

  <p>
    <b>3. 認可確認画面</b><br>
    上記をブラウザに入力すると、以下のような認可確認画面が表示されます。<br>
    有効期限内のトークンが存在する場合は表示されませんが、force_verify に true を設定することで再承認を強制できます。<br>
    <Image src={authorize_picture} width={300} alt="authorize_picture" /><br>
  </p>

  <p>
    <b>4. アクセス許可</b><br>
    上記画面の「Authorize」ボタンを押下すると、アクセスが許可されます。<br>
  </p>
