---
import SiteLayout from '../../../../../layouts/SiteLayout.astro';
import type { index } from '../../../../../components/HeaderIndex.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../../consts';

const indexList = [] as index[];
---
<SiteLayout
  title="Dealing with Generalisation"
  description="リファクタリング: Dealing with Generalisation の解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">リファクタリング技法</h2>

  <p>ここでは<a href=`${BASE_URL}/contents/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br>
  リファクタリング第2版<br>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><img src="../../img/refactoring.jpg" alt="refactoring" /></a>

  <br>
  レガシーコード改善ガイド<br>
  <a target="_blank"  href="https://amzn.to/44SixVn" rel="noopener noreferrer"><img src="../../img/legacy_code.jpg" alt="legacy_code" /></a>

  <h1 id="">関連するリファクタリング技法</h1>

  <h1 id="dealingwithgeneralisation">Dealing with Generalisation</h1>
  <p><a href="https://sourcemaking.com/refactoring/dealing-with-generalisation">Dealing with Generalisation</a></p>

  <h2 id="pullupfield">Pull Up Field</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Pull_Up_Field`>Pull Up Field</a></p>

  <h2 id="pullupmethod">Pull Up Method</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Pull_Up_Method`>Pull Up Method</a></p>

  <h2 id="pullupconstructorbody">Pull Up Constructor Body</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Pull_Up_Constructor_Body`>Pull Up Constructor Body</a></p>

  <h2 id="pushdownmethod">Push Down Method</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Push_Down_Method`>Push Down Method</a></p>

  <h2 id="pushdownfield">Push Down Field</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Push_Down_Field`>Push Down Field</a></p>

  <h2 id="extractsubclass">Extract Subclass</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Extract_Subclass`>Extract Subclass</a></p>

  <h2 id="extractsuperclass">Extract Superclass</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Extract_Superclass`>Extract Superclass</a></p>

  <h2 id="extractinterface">Extract Interface</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Extract_Interface`>Extract Interface</a></p>

  <h2 id="collapsehierarchy">Collapse Hierarchy</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Collapse_Hierarchy`>Collapse Hierarchy</a></p>

  <h2 id="formtemplatemethod">Form Template Method</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Form_Template_Method`>Form Template Method</a></p>

  <h2 id="replaceinheritancewithdelegation">Replace Inheritance with Delegation</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Replace_Inheritance_with_Delegation`>Replace Inheritance with Delegation</a></p>

  <h2 id="replacedelegationwithinheritance">Replace Delegation with Inheritance</h2>
  <p><a href=`${BASE_URL}/contents/sub_dealgeneral/Replace_Delegation_with_Inheritance`>Replace Delegation with Inheritance</a></p>
</SiteLayout>
