---
import SiteLayout from '../../../../../layouts/SiteLayout.astro';
import type { index } from '../../../../../components/HeaderIndex.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../../consts';

const indexList = [] as index[];
---
<SiteLayout
  title="Moving Features between Objects"
  description="リファクタリング: Moving Features between Objects の解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">リファクタリング技法</h2>

  <p>ここでは<a href=`${BASE_URL}/contents/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>

  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br>
  リファクタリング第2版<br>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><img src="../../img/refactoring.jpg" alt="refactoring" /></a>

  <br>
  レガシーコード改善ガイド<br>
  <a target="_blank"  href="https://amzn.to/44SixVn" rel="noopener noreferrer"><img src="../../img/legacy_code.jpg" alt="legacy_code" /></a>

  <h1 id="">関連するリファクタリング技法</h1>

  <h1 id="movingfeaturesbetweenobjects">Moving Features between Objects</h1>
  <p><a href="https://sourcemaking.com/refactoring/moving-features-between-objects">Moving Features between Objects</a></p>

  <h2 id="movemethod">Move Method</h2>
  <p><a href=`${BASE_URL}/contents/sub_movingfeatures/Move_Method`>Move Method</a></p>

  <h2 id="movefield">Move Field</h2>
  <p><a href=`${BASE_URL}/contents/sub_movingfeatures/Move_Field`>Move Field</a></p>

  <h2 id="extractclass">Extract Class</h2>
  <p><a href=`${BASE_URL}/contents/sub_movingfeatures/Extract_Class`>Extract Class</a></p>

  <h2 id="inlineclass">Inline Class</h2>
  <p><a href=`${BASE_URL}/contents/sub_movingfeatures/Inline_Class`>Inline Class</a></p>

  <h2 id="hidedelegate">Hide Delegate</h2>
  <p><a href=`${BASE_URL}/contents/sub_movingfeatures/Hide_Delegate`>Hide Delegate</a></p>

  <h2 id="removemiddleman">Remove Middle Man</h2>
  <p><a href=`${BASE_URL}/contents/sub_movingfeatures/Remove_Middle_Man`>Remove Middle Man</a></p>

  <h2 id="introduceforeignmethod">Introduce Foreign Method</h2>
  <p><a href=`${BASE_URL}/contents/sub_movingfeatures/Introduce_Foreign_Method`>Introduce Foreign Method</a></p>

  <h2 id="introducelocalextension">Introduce Local Extension</h2>
  <p><a href=`${BASE_URL}/contents/sub_movingfeatures/Introduce_Local_Extension`>Introduce Local Extension</a></p>
</SiteLayout>
