---
import SiteLayout from '../../../../../layouts/SiteLayout.astro';
import type { index } from '../../../../../components/HeaderIndex.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../../consts';

const indexList = [] as index[];
---
<SiteLayout
  title="Simplifying Conditional Expressions"
  description="リファクタリング: Simplifying Conditional Expressions の解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">リファクタリング技法</h2>

  <p>ここでは<a href=`${BASE_URL}/contents/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>

  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br>
  リファクタリング第2版<br>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><img src="../../img/refactoring.jpg" alt="refactoring" /></a>

  <br>
  レガシーコード改善ガイド<br>
  <a target="_blank"  href="https://amzn.to/44SixVn" rel="noopener noreferrer"><img src="../../img/legacy_code.jpg" alt="legacy_code" /></a>

  <h1 id="">関連するリファクタリング技法</h1>

  <h1 id="simplifyingconditionalexpressions">Simplifying Conditional Expressions</h1>
  <p><a href="https://sourcemaking.com/refactoring/simplifying-conditional-expressions">Simplifying Conditional Expressions</a></p>

  <h2 id="decomposeconditional">Decompose Conditional</h2>
  <p><a href=`${BASE_URL}/contents/sub_simplcondexp/Decompose_Conditional`>Decompose Conditional（条件文の分解）</a></p>

  <h2 id="consolidateconditionalexpression">Consolidate Conditional Expression</h2>
  <p><a href=`${BASE_URL}/contents/sub_simplcondexp/Consolidate_Conditional_Expression`>Consolidate Conditional Expression</a></p>

  <h2 id="consolidateduplicateconditionalfragments">Consolidate Duplicate Conditional Fragments</h2>
  <p><a href=`${BASE_URL}/contents/sub_simplcondexp/Consolidate_Duplicate_Conditional_Fragments`>Consolidate Duplicate Conditional Fragments</a></p>

  <h2 id="removecontrolflag">Remove Control Flag</h2>
  <p><a href=`${BASE_URL}/contents/sub_simplcondexp/Remove_Control_Flag`>Remove Control Flag</a></p>

  <h2 id="replacenestedconditionalwithguardclauses">Replace Nested Conditional with Guard Clauses</h2>
  <p><a href=`${BASE_URL}/contents/sub_simplcondexp/Replace_Nested_Conditional_with_Guard_Clauses`>Replace Nested Conditional with Guard Clauses</a></p>

  <h2 id="replaceconditionalwithpolymorphism">Replace Conditional with Polymorphism</h2>
  <p><a href=`${BASE_URL}/contents/sub_simplcondexp/Replace_Conditional_with_Polymorphism`>Replace Conditional with Polymorphism</a></p>

  <h2 id="introducenullobject">Introduce Null Object</h2>
  <p><a href=`${BASE_URL}/contents/sub_simplcondexp/Introduce_Null_Object`>Introduce Null Object</a></p>

  <h2 id="introduceassertion">Introduce Assertion</h2>
  <p><a href=`${BASE_URL}/contents/sub_simplcondexp/Introduce_Assertion`>Introduce Assertion</a></p>
</SiteLayout>
