---
import SiteLayout from '../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../components/BaseHead.astro';
import { BASE_URL } from '../../../consts';

const indexList = [
  { id: "#summary", name: "概要" },
  { id: "#whatimade", name: "作成物" },
  { id: "#mechanism", name: "仕組み" },
  { id: "#whatilearn", name: "学び" }
];
---

<SiteLayout
  title="Code Smellとリファクタリング技法"
  description="Code Smellとリファクタリング技法の概要や学びをまとめたページです。"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">Code Smellとリファクタリング技法</h2>

  <br/><br/>
  <p style="color: #FFFFFF;"><a href={BASE_URL} style="color: #00bfff;">ホーム</a> &gt; <a href=`${BASE_URL}/contents/development` style="color: #00bfff;">開発まとめ</a> &gt; Code Smellとリファクタリング技法</p>

  <br/>
  <div id="summary"></div>
  <h3 class="title">Code Smellとリファクタリング技法</h3>
  <p>
    ここでは Code Smell とリファクタリング技法についてご紹介します。<br/>
    <li><a href=`${BASE_URL}/contents/development/codesmell/Codesmells`>Code Smell</a></li>
    <li><a href=`${BASE_URL}/contents/development/refactoring/Refactoring_Technics`>リファクタリング技法</a></li>
  </p>

  <br/><br/>
</SiteLayout>
