---
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL } from '../consts';
import AdUnit from '../components/AdUnit.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout title={SITE_TITLE} description="ふりかえりの手法をたくさん学ぼう">
  <h2 class="title">システム開発知識が集うサイト</h2>

  <p>
    これまで経験したプロジェクトや資格・独学の勉強で身に付けた知識を整理するために作ったサイトです。<br>
    最近ロマサガRSというゲームにハマっており、そのサイトも運営しています（<a href="https://taumax-github.github.io/sagamax/" target="_blank">リンク</a>）。<br>
  </p>

  <br>
  <h3 class="title">個人的に開発したもの</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/bymyself/bymyself.html`>個人的に開発したものの紹介と仕組み</a></li>
    <!--
    <li>ICONIX</li>
    -->
  </ul>

  <br>
  <h3 class="title">要件定義</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/requirement/requirement.html`>要件定義</a></li>
    <!--
    <li>ICONIX</li>
    -->
  </ul>

  <br>
  <h3 class="title">開発手法</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/agile/agile.html`>アジャイル</a></li>
  </ul>

  <!--
  <br>
  <h3 class="title">アーキテクチャ</h3>
  <ul>
    <li>マイクロサービスアーキテクチャ</li>
    <li>サーバレスアーキテクチャ</li>
  </ul>

  <br>
  <h3 class="title">設計、製造技術</h3>
  <h4 class="title">アプリ</h4>
  <ul>
    <li>TDD/BDD</li>
    <li>DDD</li>
    <li>CQRS</li>
    <li>ペアプログラミング</li>
    <li>モブプログラミング</li>
    <li>リアクティブプログラミング</li>
    <li>UML</li>
    <li>DevOps</li>
    <li>SRE</li>
    <li>CI/CD</li>
    <li>DevOps</li>
    <li>SRE</li>
  </ul>
  -->

  <br>
  <h4 class="title">言語、プログラミング</h4>
  <ul>
    <li><a href=`${BASE_URL}/contents/development/java/java.html`>Java</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/js_index.html`>JavaScript</a></li>
    <!--
    <li><a href="./contents/development/CodeSmell_Refactoring.html">Code Smellとリファクタリング技法</a></li>
    <li>Effective Java</li>
    <li>リーダブルコード</li>
    <li>Kotlin</li>
    <li>VBA</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>SQL</li>
      <dd style="padding-left:2em">
      - 静的SQL<br>
      - 動的SQL<br>
      </dd>
    -->
  </ul>

  <br>
  <h4 class="title">データベース</h4>
  <ul>
    <li><a href=`${BASE_URL}/contents/development/database/database.html`>Database関連</a></li>
    <!--
    <li>Oracle</li>
    <li>DB2</li>
      <dd style="padding-left:3em">
        - SQLJ<br>
        - Stored Procedure<br>
        - User Defined Function<br>
      </dd>
    <li>postgres</li>
    <li>NoSQL</li>
      <dd style="padding-left:2em">
      - Cassandra<br>
      - XMLDB<br>
      </dd>
    -->
  </ul>

  <!--
  <h4 class="title">インフラ</h4>
  <ul>
    <li>Linux</li>
    <li>Ansible</li>
    <li>Docker</li>
    <li>Kubernetes</li>
  </ul>
  -->

  <br>
  <h3 class="title">テスト</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/development/test/test.html`>ソフトウェアテスト</a></li>
  </ul>

  <br>
  <h3 class="title">セキュリティ</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/security/csrf/csrf.html`>クロスサイトリクエストフォージェリ(CSRF)</a></li>
    <li><a href=`${BASE_URL}/contents/security/cors/cors.html`>オリジン間リソース共有(CORS：Cross-Origin Resource Sharing)</a></li>
    <li><a href=`${BASE_URL}/contents/security/sop/sop.html`>同一生成元ポリシー(SOP：Same-Origin Policy)</a></li>
    <li><a href=`${BASE_URL}/contents/security/cvss/cvss.html`>CVSS</a></li>
  </ul>

  <br>
  <AdUnit />
  <br>

  <!--
  <br><br>
  <h3 class="title">取得した資格から得た知識を整理する</h3>
  <h4 class="title">情報処理試験</h4>
  <ul>
    <li>プロジェクトマネージャ</li>
    <li>システムアーキテクト</li>
    <li>データベーススペシャリスト</li>
    <li>ネットワークスペシャリスト</li>
    <li>
      情報処理安全確保支援士<br>
      ※資格を持っているだけで支援士として登録はしていません
    </li>
  </ul>

  <br>
  <h4 class="title">ベンダー資格</h4>
  <ul>
    <li>OCJP-Gold SE7</li>
    <li>OCJP-Gold SE8</li>
    <li>Oracle-Gold 11g</li>
    <li>DB2 Advanced Expert</li>
  </ul>
  -->
</SiteLayout>
