---
import { SITE_TITLE, BASE_URL } from '../consts';
import { TWITTER_CARD_SUMMARY } from '../components/BaseHead.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout
  title={SITE_TITLE}
  description="indexページ"
  twitterCardSize={TWITTER_CARD_SUMMARY}>

  <h2 class="title">システム開発知識が集うサイト</h2>

  <p>
    これまで経験したプロジェクトや資格の勉強、独学で身に付けた知識を整理するために作ったサイトです。<br>
  </p>

  <br>
  <h3 class="title">言語、プログラミング</h3>
  <h4 class="title">JavaScript</h4>
  <ul>
    <li><a href=`${BASE_URL}/contents/development/javascript/js_index`>JavaScriptについて</a></li>

    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/nodejs`>Node.js</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/what_i_made`>Node.jsを使って作った物</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/obs`>Node.js×obs</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/twitch`>Node.js×twitch</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/twitter`>Node.js×twitter</a></li>

    <li><a href=`${BASE_URL}/contents/development/javascript/spa/react/react_next`>react/next.js</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/spa/react/next_rendering`>Next.jsのレンダリング手法</a></li>

    <li><a href=`${BASE_URL}/contents/development/javascript/spa/vue/vue_nuxt`>Vue.js/Nuxt</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/spa/vue/nuxt_rendering`>Nuxtのレンダリング手法</a></li>

    <li><a href=`${BASE_URL}/contents/development/javascript/typescript`>TypeScript</a></li>

    <!--
    <li><a href="./contents/development/CodeSmell_Refactoring">Code Smellとリファクタリング技法</a></li>
    <li>Effective Java</li>
    <li>リーダブルコード</li>
    <li>Kotlin</li>
    <li>VBA</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>SQL</li>
      <dd style="padding-left:2em">
      - 静的SQL<br>
      - 動的SQL<br>
      </dd>
    -->
  </ul>

  <br/>
  <h4 class="title">Java</h4>
  <ul>
    <li><a href=`${BASE_URL}/contents/development/java/jjug/jjug_happy_25th_anniversary_java`>Java生誕25周年記念イベント</a></li>
  </ul>

  <br/>
  <h4 class="title">Code Smellとリファクタリング</h4>
  <ul>
    <li><a href=`${BASE_URL}/contents/development/codesmell/Codesmells`>Code Smell</a></li>
    <li><a href=`${BASE_URL}/contents/development/refactoring/Refactoring_Technics`>リファクタリング技法</a></li>
  </ul>

  <br>
  <h3 class="title">個人的に開発したもの</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/bymyself/bymyself`>個人的に開発したものの紹介と仕組みと全体像</a></li>
    <li><a href=`${BASE_URL}/contents/bymyself/campainbot/campainbot`>キャンペーン対象キャラ通知bot</a></li>
    <li><a href=`${BASE_URL}/contents/bymyself/followercount/followercount`>公式アカウントのフォロワー数変化(Goで書いた)</a></li>
    <li><a href=`${BASE_URL}/contents/bymyself/reminderbot/reminderbot`>ロマサガRSイベントリマインダー</a></li>
    <li><a href=`${BASE_URL}/contents/bymyself/scrayping/scrayping`>twitterのスクレイピング</a></li>
    <li><a href=`${BASE_URL}/contents/bymyself/tocd/tocd`>GitLab で自動リリース（継続的デリバリー）</a></li>
    <li><a href=`${BASE_URL}/contents/bymyself/tocontainer/tocontainer`>コンテナ化</a></li>
    <li><a href=`${BASE_URL}/contents/bymyself/tohttps/tohttps`>https化</a></li>
    <li><a href=`${BASE_URL}/contents/bymyself/toscheduler/toscheduler`>cron脱却（コンテナ化を見据えて）</a></li>
    <!--
    <li>ICONIX</li>
    -->
  </ul>

  <br>
  <h3 class="title">要件定義</h3>
  <ul>
    <!-- <li><a href=`${BASE_URL}/contents/requirement/requirement`>要件定義</a></li> -->
    <li><a href=`${BASE_URL}/contents/requirement/rdra/rdra`>RDRA</a></li>
    <li><a href=`${BASE_URL}/contents/requirement/ccsr/bpstudy_ccsr`>CCSR</a></li>
    <!--
    <li>ICONIX</li>
    -->
  </ul>

  <br>
  <h3 class="title">開発手法</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/agile/event/learn_retrospective_methods`>振り返り手法を学ぼう</a></li>
  </ul>

  <!--
  <br>
  <h3 class="title">アーキテクチャ</h3>
  <ul>
    <li>マイクロサービスアーキテクチャ</li>
    <li>サーバレスアーキテクチャ</li>
  </ul>

  <br>
  <h3 class="title">設計、製造技術</h3>
  <h4 class="title">アプリ</h4>
  <ul>
    <li>TDD/BDD</li>
    <li>DDD</li>
    <li>CQRS</li>
    <li>ペアプログラミング</li>
    <li>モブプログラミング</li>
    <li>リアクティブプログラミング</li>
    <li>UML</li>
    <li>DevOps</li>
    <li>SRE</li>
    <li>CI/CD</li>
    <li>DevOps</li>
    <li>SRE</li>
  </ul>
  -->

  <br>
  <h3 class="title">データベース</h3>
  <ul>
    <!-- <li><a href=`${BASE_URL}/contents/development/database/database`>Database関連</a></li> -->
    <li><a href=`${BASE_URL}/contents/development/database/db_design_night_no6/db_design_night_no6`>DB設計したいNight #6 正規化</a></li>
    <!--
    <li>Oracle</li>
    <li>DB2</li>
      <dd style="padding-left:3em">
        - SQLJ<br>
        - Stored Procedure<br>
        - User Defined Function<br>
      </dd>
    <li>postgres</li>
    <li>NoSQL</li>
      <dd style="padding-left:2em">
      - Cassandra<br>
      - XMLDB<br>
      </dd>
    -->
  </ul>

  <!--
  <h4 class="title">インフラ</h4>
  <ul>
    <li>Linux</li>
    <li>Ansible</li>
    <li>Docker</li>
    <li>Kubernetes</li>
  </ul>
  -->

  <br>
  <h3 class="title">テスト</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/development/test/softwaretest/various_software_tests`>ソフトウェアテストについていろいろ調べたことを書いた記事</a></li>
  </ul>

  <br>
  <h3 class="title">セキュリティ</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/security/csrf/csrf`>クロスサイトリクエストフォージェリ(CSRF)</a></li>
    <li><a href=`${BASE_URL}/contents/security/cors/cors`>オリジン間リソース共有(CORS：Cross-Origin Resource Sharing)</a></li>
    <li><a href=`${BASE_URL}/contents/security/sop/sop`>同一生成元ポリシー(SOP：Same-Origin Policy)</a></li>
    <li><a href=`${BASE_URL}/contents/security/cvss/cvss`>CVSS</a></li>
  </ul>

  <!--
  <br><br>
  <h3 class="title">取得した資格から得た知識を整理する</h3>
  <h4 class="title">情報処理試験</h4>
  <ul>
    <li>プロジェクトマネージャ</li>
    <li>システムアーキテクト</li>
    <li>データベーススペシャリスト</li>
    <li>ネットワークスペシャリスト</li>
    <li>
      情報処理安全確保支援士<br>
      ※資格を持っているだけで支援士として登録はしていません
    </li>
  </ul>

  <br>
  <h4 class="title">ベンダー資格</h4>
  <ul>
    <li>OCJP-Gold SE7</li>
    <li>OCJP-Gold SE8</li>
    <li>Oracle-Gold 11g</li>
    <li>DB2 Advanced Expert</li>
  </ul>
  -->
</SiteLayout>
