---
import SiteLayout, { type Breadcrumb } from '../../../../../layouts/SiteLayout.astro';
import refactoringImg from '../../img/refactoring.jpg';
import legacyCodeImg from '../../img/legacy_code.jpg';
import { BASE_URL } from '../../../../../consts';
import type { index } from '../../../../../components/HeaderIndex.astro';
import { codesmellBcList } from '../Codesmells.astro';

export const otherSmellsBc: Breadcrumb = {
  name: "Other Smells",
  item: `${BASE_URL}/contents/development/codesmell/category/other_smells`
};
export const otherSmellsBcList: Breadcrumb[] = [...codesmellBcList, otherSmellsBc];
const indexList: index[] = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#othersmells', name: 'Other Smells' },
  { id: '#incompletelibraryclass', name: 'Incomplete Library Class' }
];
---
<SiteLayout
  title="Other Smells"
  description="Code Smell: Other Smellsの分類・参考情報をまとめたページです。"
  twitterCardSize="summary_large_image"
  breadcrumbList={otherSmellsBcList}
  indexList={indexList}
>

  <br>
  <h3 class="title" id="othersmells">Other Smells</h3>
  <p><a href="https://sourcemaking.com/refactoring/smells/other" target="_blank" rel="noopener noreferrer">Other Smells</a></p>
  <p>どこにも分類されない Code Smell です。</p>
  <h1 id="incompletelibraryclass">Incomplete Library Class</h1>
  <p><a href=`${BASE_URL}/contents/development/codesmell/category/sub_other/incomplete_library_class`>Incomplete Library Class</a></p>
  <br/><br/><br/>
  書籍としてはこの辺りが参考になると思います。<br/>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><img src={refactoringImg.src} alt="refactoring" /></a>
    <br/>
    レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><img src={legacyCodeImg.src} alt="legacy_code" /></a>
</SiteLayout>
