---
import type { index } from '../../../components/HeaderIndex.astro';
import { BASE_URL } from '../../../consts';
import SiteLayout, { type Breadcrumb } from '../../../layouts/SiteLayout.astro';
import { indexPagebcList } from '../../index.astro';

const title = "要件定義";
const description = "要件定義";
const twitterCardSize = "summary";

export const requirementPagebc: Breadcrumb = {
  name: "要件定義",
  item: `${BASE_URL}/contents/requirement/requirement`
};
export const requirementBreadcrumbList: Breadcrumb[] = [...indexPagebcList, requirementPagebc];
const indexList: index[] = [];
---

<SiteLayout
  title={title}
  description={description}
  twitterCardSize={twitterCardSize}
  breadcrumbList={requirementBreadcrumbList}>
  indexList={indexList}

  <br>
  <h3 class="title">要件定義</h3>
  <p>
    <a href=`${BASE_URL}/contents/requirement/ccsr/bpstudy_ccsr`>CCSR</a><br>
    <a href=`${BASE_URL}/contents/requirement/rdra/rdra`>RDRA（ラドラ）</a><br>
  </p>

  <br><br><br>
</SiteLayout>
