---
import SiteLayout from '../../../../../../layouts/SiteLayout.astro';
import { Image } from 'astro:assets';
import RefactoringImg from "../../../img/refactoring.jpg";
import LegacyCodeImg from "../../../img/legacy_code.jpg";

const title = "Parallel Inheritance Hierarchies";
const description = "Code Smell: Parallel Inheritance Hierarchies";
const twitterCardSize = "summary_large_image";
const indexList = [
  { text: "Home", href: "/" }
];
---

<SiteLayout title={title} description={description} twitterCardSize={twitterCardSize} indexList={indexList}>
  <h3 id="parallelinheritancehierarchies">Parallel Inheritance Hierarchies</h3>
  <p><a href="https://sourcemaking.com/refactoring/smells/parallel-inheritance-hierarchies" target="_blank" rel="noopener noreferrer">Parallel Inheritance Hierarchies（並行継承階層）</a></p>
  <p>Parallel Inheritance Hierarchiesは、あるクラス階層に新しいサブクラスを追加するたびに、別のクラス階層にもサブクラスを追加しなければならない状況を指します。</p>
  <p><strong><em>兆候と症状</em></strong>
    2つ以上の継承階層が密接に関連しており、片方に変更を加えるともう片方にも同様の変更が必要になる。</p>
  <p><strong><em>問題の理由</em></strong>
    このような状況は、設計が不十分であったり、責任の分担が適切でない場合に発生します。</p>
  <p><strong><em>対処</em></strong></p>
  <ul>
    <li><p>「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#move-method" target="_blank" rel="noopener noreferrer">Move Method</a>」や「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#extract-class" target="_blank" rel="noopener noreferrer">Extract Class</a>」を使って、関連する機能を1つのクラスにまとめます。</p></li>
    <li><p>継承階層を統合し、責任の分担を明確にします。</p></li>
  </ul>
  <p><strong><em>効果</em></strong></p>
  <ul>
    <li>設計の単純化</li>
    <li>保守性の向上</li>
  </ul>
  <br/><br/>
  書籍としてはこの辺りが参考になると思います。<br/>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={RefactoringImg} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={LegacyCodeImg} alt="legacy_code" /></a>
</SiteLayout>
