---
import SiteLayout, { type Breadcrumb } from '../../../../../../layouts/SiteLayout.astro';
import { Image } from 'astro:assets';
import RefactoringImg from "../../../img/refactoring.jpg";
import LegacyCodeImg from "../../../img/legacy_code.jpg";
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { BASE_URL } from '../../../../../../consts';
import { changePreventersBcList } from '../change_preventers.astro';

const title = "Shotgun Surgery";
const description = "Code Smell: Shotgun Surgery";
const twitterCardSize = "summary_large_image";

export const shotgunSurgeryBc: Breadcrumb = {
  name: "Shotgun Surgery",
  item: `${BASE_URL}/contents/development/codesmell/category/sub_changeprevent/shotgun_surgery`
};
export const shotgunSurgeryBcList: Breadcrumb[] = [...changePreventersBcList, shotgunSurgeryBc];
const indexList: index[] = [
  { id: "#shotgunsurgery", name: "Shotgun Surgery" }
];
---

<SiteLayout
  title={title}
  description={description}
  twitterCardSize={twitterCardSize}
  breadcrumbList={shotgunSurgeryBcList}
  indexList={indexList}
>

  <br>
  <h3 id="shotgunsurgery">Shotgun Surgery</h3>
  <p><a href="https://sourcemaking.com/refactoring/smells/shotgun-surgery" target="_blank" rel="noopener noreferrer">Shotgun Surgery（変更の分散）</a></p>
  <p>※Shotgun Surgeryは、<a href="https://sourcemaking.com/refactoring/smells/divergent-change">Divergent Change</a>という別のCode Smellと似ていますが、Shotgun SurgeryとDivergent Changeは真逆のものです。
  Divergent Changeは1つのクラスに多くの変更が加えられることです。Shotgun Surgeryは一つの変更が複数クラスに対して同時に行われることを指します。</p>
  <p><strong><em>兆候と症状</em></strong>
  変更を行う際、多くの異なるクラスに多くの小さな変更を加える必要がある場合。</p>
  <p><strong><em>問題の理由</em></strong>
  単一の責任が多数のクラスに分割されたことが原因です。これは、<a href="https://sourcemaking.com/refactoring/smells/divergent-change">Divergent Change</a>を熱心に適用した後に発生する可能性があります。</p>
  <p><strong><em>対処</em></strong>
  「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#move-method">Move Method</a>」と「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#move-field">Move Field</a>」を使用して、既存の様々なクラスに分散した振る舞いを、単一のクラスに移動します。これに適したクラスがない場合は、新しいクラスを作成してください。</p>
  <p>コードを同じクラスに移動して元のクラスをほとんど空のままにした場合、「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#inline-class">Inline Class</a>」を介してこれらの冗長なクラスを削除してみてください。</p>
  <p><strong><em>効果</em></strong></p>
  <ul>
    <li>コード構成の改善</li>
    <li>コード重複の削減</li>
    <li>メンテナンス性の向上</li>
  </ul>

  <br/><br/>
  書籍としてはこの辺りが参考になると思います。<br/>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={RefactoringImg} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={LegacyCodeImg} alt="legacy_code" /></a>
</SiteLayout>
