---
import SiteLayout from '../../../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../../../consts';
import { Image } from 'astro:assets';
import refactoring from '../../../img/refactoring.jpg';
import legacy_code from '../../../img/legacy_code.jpg';
const indexList = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#composingmethods', name: 'Composing Methods' },
  { id: '#extractmethod', name: 'Extract Method' }
];
---

<SiteLayout
  title="Extract Method"
  description="リファクタリング技法：Extract Methodの解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <p>ここでは<a href=`${BASE_URL}/contents/development/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={refactoring} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={legacy_code} alt="legacy_code" /></a>

  <h1 id="composingmethods">関連するリファクタリング技法</h1>
  <h2 id="composingmethods">Composing Methods</h2>
  <p><a href="https://sourcemaking.com/refactoring/composing-methods" target="_blank" rel="noopener noreferrer">Composing Methods</a></p>

  <h2 id="extractmethod">Extract Method</h2>
  <p><a href="https://sourcemaking.com/refactoring/extract-method" target="_blank" rel="noopener noreferrer">Extract Method</a>
    まとまった処理をメソッドとして切り出すこと。</p>
  <p><strong><em>関連するCode Smell</em></strong></p>
  <ul>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#long-method" target="_blank" rel="noopener noreferrer">Long Method</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#switch-statements" target="_blank" rel="noopener noreferrer">Switch Statements</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#comments" target="_blank" rel="noopener noreferrer">Comments</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#duplicate-code" target="_blank" rel="noopener noreferrer">Duplicate Code</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#data-class" target="_blank" rel="noopener noreferrer">Data Class</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#feature-envy" target="_blank" rel="noopener noreferrer">Feature Envy</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#message-chains" target="_blank" rel="noopener noreferrer">Message Chains</a></li>
  </ul>
</SiteLayout>
