---
import SiteLayout, { type Breadcrumb } from '../../../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../../../consts';
import { Image } from 'astro:assets';
import refactoring from '../../../img/refactoring.jpg';
import legacy_code from '../../../img/legacy_code.jpg';
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { composingMethodsBcList } from '../composing_methods.astro';

export const replaceMethodBc: Breadcrumb = {
  name: "Replace Method with Method Object",
  item: `${BASE_URL}/contents/development/refactoring/category/sub_compmeth/replace_method_with_method_object`
};
export const replaceMethodBcList: Breadcrumb[] = [...composingMethodsBcList, replaceMethodBc];
const indexList: index[] = [
  { id: '#composingmethods', name: 'Composing Methods' },
  { id: '#replacemethodwithmethodobject', name: 'Replace Method with Method Object' }
];
---

<SiteLayout
  title="Replace Method with Method Object"
  description="リファクタリング技法：Replace Method with Method Objectの解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  breadcrumbList={replaceMethodBcList}
  indexList={indexList}
>

  <br>
  <h3 class="title">Replace Method with Method Object</h3>
  <p>ここでは<a href=`${BASE_URL}/contents/development/codesmell/codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={refactoring} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={legacy_code} alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>
  <h2 id="composingmethods">Composing Methods</h2>
  <p><a href="https://sourcemaking.com/refactoring/composing-methods" target="_blank" rel="noopener noreferrer">Composing Methods</a></p>

  <h2 id="replacemethodwithmethodobject">Replace Method with Method Object</h2>
  <p><a href="https://sourcemaking.com/refactoring/replace-method-with-method-object" target="_blank" rel="noopener noreferrer">Replace Method with Method Object</a>
  関連する変数と処理をクラスとして抽出すること。</p>
  <p><strong><em>関連するCode Smell</em></strong></p>
  <ul>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#long-method" target="_blank" rel="noopener noreferrer">Long Method</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#temporary-field" target="_blank" rel="noopener noreferrer">Temporary Field</a></li>
  </ul>
</SiteLayout>
