---
import SiteLayout from '../../../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../../../consts';
import { Image } from 'astro:assets';
import refactoring from '../../../img/refactoring.jpg';
import legacy_code from '../../../img/legacy_code.jpg';
const indexList = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#composingmethods', name: 'Composing Methods' },
  { id: '#splittemporaryvariable', name: 'Split Temporary Variable' }
];
---

<SiteLayout
  title="Split Temporary Variable"
  description="リファクタリング技法：Split Temporary Variableの解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">リファクタリング技法</h2>
  <p>ここでは<a href=`${BASE_URL}/contents/development/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={refactoring} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={legacy_code} alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>
  <h2 id="composingmethods">Composing Methods</h2>
  <p><a href="https://sourcemaking.com/refactoring/composing-methods" target="_blank" rel="noopener noreferrer">Composing Methods</a></p>

  <h2 id="splittemporaryvariable">Split Temporary Variable</h2>
  <p><a href="https://sourcemaking.com/refactoring/split-temporary-variable" target="_blank" rel="noopener noreferrer">Split Temporary Variable</a>
  ※関連するCode Smellがなかったためリンクのみ。</p>
</SiteLayout>
