---
import SiteLayout from '../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../components/BaseHead.astro';
import { Image } from 'astro:assets';
import img1st from './img/1st_step.jpg';
import img2nd from './img/2nd_step.jpg';
import img3rd from './img/3rd_step.jpg';
import imgNext from './img/next_step.jpg';

const indexList = [
  { id: "#firstly", name: "はじめに" },
  { id: "#first", name: "初期構築" },
  { id: "#second", name: "二次" },
  { id: "#now", name: "現状" },
  { id: "#doing", name: "今後" }
];
---

<SiteLayout
  title="個人開発したことまとめ"
  description="twitterのbotや自作サイトの構築など、個人開発で得た知識をまとめたページです。"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">個人開発したことまとめ</h2>
  <br />
  <p><a href="/">ホーム</a> &gt; 個人開発したことまとめ</p>
  <div id="firstly"></div>
  <h3 class="title">はじめに</h3>
  <p>
    このページは、2020年頃から私が個人的に開発して今実際に稼働しているモノについて、どういう仕組みで動いているのか、構築するにあたってどういう壁にぶつかってどうやって解消したのかを整理したページです。
  </p>
  <div id="first"></div>
  <h3 class="title">初期構築時</h3>
  <ul>
    <li>Javaで業務ロジックを書いたことはあるけど、ゼロからシステムを構築した経験がない（MWなど色々準備された状態からのシステム開発がほとんどだった）</li>
    <li>インフラ周りに超苦手意識があった（linux？cron？？コマンドもよくわかんないよ？？）</li>
  </ul>
  <p>自力でイチからシステムを構築する経験をしてみたい。</p>
  <h4 class="title">やったこと・作ったモノ</h4>
  <Image src={img1st} width={500} alt="初期構築" />
  <ul>
    <li>サクラインターネットというサービスでlinuxのサーバーをレンタル（月額600円ぐらい～）</li>
    <li>apache, tomcat, postgresをインストール</li>
    <li>ローカルでJavaで開発したアプリケーションをデプロイして公開</li>
    <li>pythonで作ったプログラムをcronで動かしてtwitterのbotを作成</li>
  </ul>
  <h4 class="title">作ったもの詳細</h4>
  <ul>
    <li><a href="https://qiita.com/taumax/items/11a3e67c265b6ba71838" target="_blank">Linux(CentOS)にApacheとTomcatをインストールしてJavaアプリをデプロイするまで</a></li>
    <li><a href="reminderbot/reminderbot">ロマサガRSイベントリマインダー</a></li>
    <li><a href="campainbot/campainbot">ロマサガRSキャンペーン対象キャラ通知bot</a></li>
  </ul>
  <div id="second"></div>
  <h3 class="title">二次</h3>
  <ul>
    <li>フロントも弱い(html, css, JavaScript)</li>
    <li>twitterから情報収集したものをDBに登録してwebに公開とかしてみたい</li>
  </ul>
  <h4 class="title">やったこと・作ったモノ</h4>
  <Image src={img2nd} width={800} alt="二次構築" />
  <h4 class="title">作ったもの詳細</h4>
  <ul>
    <li><a href="scrayping/scrayping">twitterのスクレイピング</a></li>
  </ul>
  <div id="now"></div>
  <h3 class="title">現状</h3>
  <ul>
    <li>2021年7月から配属されたプロジェクトで、これまで触ったことがない技術がいっぱい。ヤヴァイ。</li>
  </ul>
  <h4 class="title">やったこと・作ったモノ</h4>
  <Image src={img3rd} width={800} alt="現状" />
  <ul>
    <li><a href="followercount/followercount">公式アカウントのフォロワー数変化(Goで書いた)</a></li>
    <li><a href="toscheduler/toscheduler">cron脱却（コンテナ化を見据えて）</a></li>
    <li><a href="tocontainer/tocontainer">コンテナ化</a></li>
    <li><a href="tocd/tocd">GitLab で自動リリース</a></li>
    <li><a href="tohttps/tohttps">https化</a></li>
  </ul>
  <div id="doing"></div>
  <h3 class="title">今やろうとしてる</h3>
  <ul>
    <li>GCPも使っているのでそこをもっと習得していきたい</li>
  </ul>
  <h4 class="title">やりたいこと・作りたいモノ</h4>
  <Image src={imgNext} width={800} alt="今後" />
  <ul>
    <li>Gitlab, Go, Dockerなど触れたことのない技術を習得しないといけないのでそれを使ったものに変更</li>
  </ul>
</SiteLayout>
