---
import { Image } from "astro:assets";
import SiteLayout from "../../../../../layouts/SiteLayout.astro";
import { TWITTER_CARD_SUMMARY } from '../../../../../components/BaseHead.astro';
import { BASE_URL } from "../../../../../consts";
import AdUnitLandscape from "../../../../../components/AdUnitLandscape.astro";
import authorization_code_grant_flow from './img/twitch/authorization_code_grant_flow.jpg';
import console_img from './img/twitch/console.jpg';
import play_with_nodejs_twitch from './img/twitch/play_with_nodejs_twitch.jpg';
import application_info_img from './img/twitch/application_info.jpg';
import client_credentials_grant_flow from './img/twitch/client_credentials_grant_flow.jpg';
import implicit_grant_flow from './img/twitch/implicit_grant_flow.jpg';
import CommonOAuthFlow from "../../../../../components/twitch/CommonOAuthFlow.astro";

const resourceOwner = `リソースオーナーとは一般的に、『アカウントを持つユーザー本人』を指します。<br>
OAuth 2.0認可フレームワークにおいて、保護されたデータやサービス（リソース）を所有し、そのアクセス権限を第三者（クライアント）へ付与できるユーザーまたはシステムのことです。`

const indexList = [
  { id: "#firstly", name: "はじめに" },
  { id: "#authorization_flow", name: "認証の流れ" },
  { id: "#register_application", name: "アプリケーションの登録" },
  { id: "#token", name: "Tokenの発行" },
  { id: "#refresh_token", name: "リフレッシュトークン" },
  { id: "#user", name: "Twitch のユーザー" },
  { id: "#tmijs", name: "Node.js × tmi.js" },
  { id: "#webhook", name: "Node.js × Webhook" },
  { id: "#api", name: "Node.js × Twitch API" },
];
---

<SiteLayout
  title="Node.js × Twitch"
  description="Node.jsでTwitchをカスタマイズ"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}>

  <h2 class="title">Node.js × Twitch</h2>

  <ul class="breadcrumb">
    <li class="breadcrumbli"><a href={BASE_URL}>ホーム</a></li>
    <li class="breadcrumbli"> > <a href=`${BASE_URL}/contents/development/javascript/nodejs/what_i_made`>js関連技術</a></li>
    <li class="breadcrumbli"> > <a href=`${BASE_URL}/contents/development/javascript/nodejs/nodejs`>Node.js</a></li>
    <li class="breadcrumbli"> > <a href=`${BASE_URL}/contents/development/javascript/nodejs/what_i_made`>Node.js × Twitch, Twitter, OBS</a></li>
    <li class="breadcrumbli"> > Node.js × Twitch</li>
  </ul>

  <br>
  <h3 class="title" id="firstly">はじめに</h3>
  <p>
    このページは、 <a href=`${BASE_URL}/contents/development/javascript/nodejs/what_i_made`>Node.js × Twitch, Twitter, OBS</a> の続きです。<br>
    Twitch イベントを Webhook や tmi.js というライブラリを使用して Node.js で受け取ったり、チャットを投げたりする部分について記載します。以下画像の赤枠部分です。<br>
    <Image src={play_with_nodejs_twitch} width={800} alt="play_with_nodejs_twitch" /><br>

    <br>
    赤枠以外の部分については、以下リンク先に別ページでまとめています。GitLab や Linux, Docker, nginx については記載していません。
  </p>

  <ul>
    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/twitter`>Node.js × twitter</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/obs`>Node.js × OBS</a></li>
  </ul>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="authorization_flow">認証の流れ</h3>
  <p>
    TwitchからWebhook経由でイベントの通知を受信したりAPIを発行したりするには、認証サーバが発行したトークンを使用する必要があります。<br>
    TwitchはOAuth 2.0に準拠した認証フローを採用しているため、トークンの発行手順もOAuth 2.0に従います。<br>
    大まかに以下の流れでトークンを発行します。<br>
  </p>
  <ol>
    <li>Client IDとClient Secretの発行：<a href="#register_application">アプリケーションの登録</a></li>
    <li>トークンの発行：<a href="#token">Tokenの発行</a></li>
  </ol>
  <p>
    以下、その手順について説明していきます。
  </p>

  <br>
  <h3 class="title" id="register_application">アプリケーションの登録</h3>
  <p>
    まず Twitch の developers サイトでアプリケーションを登録する必要があります。<br>
    リンク先（<a href="https://dev.twitch.tv/" target="_blank" rel="noopener noreferrer">Twitch developers</a>）右上の「Log in with Twitch」ボタンから developers サイトにログイン。<br>
    その後、右上の 「Your Console」 ボタンからコンソール画面に遷移して、「アプリケーションを登録」ボタンを押下。<br>
    <Image src={console_img} width={500} alt="console" /><br>

    <br>
    アプリケーションの管理画面でアプリケーション名、OAuthのリダイレクトURL、カテゴリーを入力。<br>
    「新しい秘密」ボタンを押下するとシークレット(Client Secret)が生成されます。<br>
    シークレットとクライアントIDを控えて「保存」ボタンを押下すると、アプリケーションの登録が完了です。<br>
    <Image src={application_info_img} width={500} alt="application_info" /><br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="token">トークンの発行</h3>
  <p>
    Twitchのトークンには App access token と User access token の2種類があり、それぞれ用途は以下の通り。<br>
  </p>

  <div style="padding-left: 1em;">
    <table border="1">
      <tr><th>トークンの種類</th><th>用途</th></tr>
      <tr>
        <td style="white-space: nowrap;">
          <a href="https://dev.twitch.tv/docs/authentication/#user-access-tokens" target="_blank" rel="noopener noreferrer">User access token</a>
        </td>
        <td>
          User access tokenは、リソースオーナー（※）の承認が必要なAPIを発行する場合に使用します。<br>
          <a href="https://dev.twitch.tv/docs/authentication/scopes/" target="_blank" rel="noopener noreferrer">Twitchのスコープ一覧</a>に記載されているスコープを指定して、アプリケーションにアクセスを許可するリソースの範囲を指定します。<br>
          例えば以下に示すようなPoll（投票）に関するAPIを発行する場合、 channel:manage:polls スコープを指定してUser access tokenを発行する必要があります。<br>
          <ul>
            <li><a href="https://dev.twitch.tv/docs/api/reference#create-poll" target="_blank" rel="noopener noreferrer">Create Poll</a></li>
            <li><a href="https://dev.twitch.tv/docs/api/reference#end-poll" target="_blank" rel="noopener noreferrer">End Poll</a></li>
            <li><a href="https://dev.twitch.tv/docs/api/reference#get-polls" target="_blank" rel="noopener noreferrer">Get Polls</a></li>
          </ul>
          リンク先を見れば、channel:manage:polls スコープを含むUser access tokenが必要なことがわかります。
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap;">
          <a href="https://dev.twitch.tv/docs/authentication/#app-access-tokens" target="_blank" rel="noopener noreferrer">App access token</a>
        </td>
        <td>
          App access tokenは、以下のような場合に使用します。
          <ul style="padding-left: 1em;">
            <li>
              リソースオーナーの承認が不要な機能を利用する場合<br>
              例えば<a href="https://dev.twitch.tv/docs/api/reference#get-videos" target="_blank" rel="noopener noreferrer">Get Videos API</a>は指定したIDに紐づく情報を、リソースオーナーの承認無しで取得することができる。<br>
              App access tokenが使用できるAPIであれば、自分の情報であろうが他人の情報であろうが取得可能だということです。<br>
              <ul style="list-style-type: circle">
                <li>
                  App access tokenを受け入れる殆どのAPIはUser access token も使用できるため、User access tokensを既に取得している場合はApp access tokenを取得する必要はない。<br>
                </li>
              </ul>
            </li>
            <li>
              Webhookを使用してイベントを受信する場合<br>
              <ul style="list-style-type: circle">
                <li>
                  Webhookを使用してイベントの通知を受信する場合、サブスクリプションの登録リクエストを行う必要があり、その際にはApp access tokenを使用します。<br>
                  User access tokenを使用すると、リクエストは失敗します。<br>
                </li>
                <li>
                  イベントの種類によってはリソースオーナーの承認が必要なものもある。<a href="https://dev.twitch.tv/docs/eventsub/eventsub-subscription-types/#channelsubscribe" target="_blank" rel="noopener noreferrer">channel.subscribe</a> イベントはその一つです。<br>
                  channel.subscribe イベントを受信するには、まずリソースオーナーの承認を得るため、channel:read:subscriptions スコープを含むUser access tokenを取得します。<br>
                  その上で、App access tokenを使用してサブスクリプションの登録リクエストを行います。
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    ※<span set:html={resourceOwner} />
  </div>

  <br>
  <p>
    トークンの取得方法については<a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/" target="_blank" rel="noopener noreferrer">リンク先にまとまって</a>いる通り、4種類の認証フローがあります。<br>
  </p>

  <div style="padding-left: 1em;">
    <table border="1">
      <tr><th>発行するトークン</th><th>認証フロー</th><th>リフレッシュトークンの発行</th><th>有効期限</th><th>関連リンク</th></tr>
      <tr>
        <td>App access token</td>
        <td><a href="#client_cred_grant_flow">Client credentials grant flow</a></td>
        <td>無し</td>
        <td>約2ヶ月</td>
        <td>
          <ul style="padding-left: 1em;">
            <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#client-credentials-grant-flow" target="_blank" rel="noopener noreferrer">Client credentials grant flow</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.4" target="_blank" rel="noopener noreferrer">1.3.4. Client Credentials</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td rowspan="3">User access token</td>
        <td><a href="#auth_code_grant_flow">Authorization code grant flow</a></td>
        <td>あり</td>
        <td>約4時間</td>
        <td>
          <ul style="padding-left: 1em;">
            <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#authorization-code-grant-flow" target="_blank" rel="noopener noreferrer">Authorization code grant flow</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.1" target="_blank" rel="noopener noreferrer">1.3.1. Authorization Code</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><a href="#implicit_grant_flow">Implicit grant flow</a></td>
        <td>無し</td>
        <td>約2ヶ月</td>
        <td>
          <ul style="padding-left: 1em;">
            <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#implicit-grant-flow" target="_blank" rel="noopener noreferrer">Implicit grant flow</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.2" target="_blank" rel="noopener noreferrer">1.3.2. Implicit</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Device code grant flow</td>
        <td>あり</td>
        <td>約4時間</td>
        <td>
          <ul style="padding-left: 1em;">
            <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#device-code-grant-flow" target="_blank" rel="noopener noreferrer">Device code grant flow</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749#section-2.1" target="_blank" rel="noopener noreferrer">2.1. Client Types</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <br>
  <p>
    具体的にどうやってトークンを取得するかは <a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#examples-of-the-four-flows" target="_blank" rel="noopener noreferrer">Examples of the four flows</a> に書いていますが、以下にも記載します。<br>
    Device code grant flowは私は使ったことがないので他の3つについて説明します。<br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h4 class="title" id="client_cred_grant_flow">Client credentials grant flow</h4>
  <p>
    Client credentials grant flowは以下の図に示す流れになっています。見てわかる通りかなりシンプルです。<br>
    <Image src={client_credentials_grant_flow} width={400} alt="client_credentials_grant_flow" /><br>

    <br>
    POSTリクエストを発行することで取得できます。curl コマンドなら以下のようになります。<br>
  </p>

<pre><code>curl -X POST 'https://id.twitch.tv/oauth2/token' \
-H 'Content-Type: application/x-www-form-urlencoded' \
-d 'client_id=[clientID]&client_secret=[clientSecret]&grant_type=client_credentials'
</code></pre>

  <div style="padding-left: 2em;">
    <ul>
      <li>clientID：<a href="#register_application">アプリケーションの登録</a>で取得したクライアントID</li>
      <li>clientSecret：<a href="#register_application">アプリケーションの登録</a>で取得したシークレット</li>
    </ul>
  </div>

  <p>
    上記コマンドを実行すると、以下の形式でレスポンスが返ってきます。 access_token に記載されているのが App access token です。<br>
  </p>

<pre><code>{`{
  "access_token":"[発行されたトークン]",
  "expires_in":[有効期限],
  "token_type":"bearer"
}`}
</code></pre>

  <br>
  <p>
    有効期限は約2ヶ月です。<br>
    リフレッシュトークンは発行されないため、期限が切れたら再度トークンを取得する必要があります。<br>
    POSTリクエストを送信することでトークンを取得できるので、定期的にトークンを再取得する機能を構築して自動化するのが良いと思います。<br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h4 class="title" id="auth_code_grant_flow">Authorization code grant flow</h4>
  <p>
    Authorization code grant flowは以下の図に示す流れになっています。<br>
    <Image src={authorization_code_grant_flow} width={700} alt="oauth" /><br>
    ※<span set:html={resourceOwner} />
  </p>

  <br>
  <CommonOAuthFlow kbn="authorization" />

  <p>
    <b>5. 認可コード発行</b><br>
    アクセスが許可されると、redirect_uri に指定したURLにリダイレクトされます。<br>
    リダイレクト先のURLに、以下のような形式で code が記載されています。これが認可コードです。<br>
  </p>
<pre><code>[redirectURI]
?code=[発行された認可コード]
&scope=[指定したスコープ]
&state=[指定したstate]
</code></pre>

  <br>
  <p>
    <b>6. トークン発行依頼</b><br>
    発行された認可コードを使用して、以下のような形式のPOSTリクエストを送ると、アクセストークンとリフレッシュトークンが発行されます。<br>
  </p>

<pre><code>curl -X POST 'https://id.twitch.tv/oauth2/token' \
-H 'Content-Type: application/x-www-form-urlencoded' \
-d 'client_id=[clientID]&client_secret=[clientSecret]&code=[発行された認可コード]&grant_type=authorization_code&redirect_uri=[redirectURI]'
</code></pre>

  <br>
  <p>
    <b>7. アクセストークン、リフレッシュトークン発行</b><br>
    上記コマンドが成功すると、以下のレスポンスが返ってきます。<br>
    リダイレクト先のURLに、以下のようなjsonが返ってきます。<br>
    access_token が User access token で、refresh_token が Refresh token です。<br>
  </p>

<pre><code>{`{
  "access_token":"[発行されたトークン]",
  "expires_in":15668,
  "refresh_token":"[発行されたリフレッシュトークン]",
  "scope":[指定したスコープ],
  "token_type":"bearer"
}`}
</code></pre>

  <br>
  <p>
    有効期限は約4時間です。<br>
    トークンを再取得する場合は、<a href="#refresh_token">リフレッシュトークン</a>を使うか、再度Authorization code grant flowを経てトークンを発行する必要があります。<br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h4 class="title" id="implicit_grant_flow">Implicit grant flow</h4>
  <p>
    Implicit grant flow は 『認可コードを使用しない <a href="#auth_code_grant_flow">Authorization code grant flow</a>』です。<br>
    認可コードを使う方式に比べて安全性に問題があるため OAuth としては非推奨の方式であり、OAuth 2.1からは Implicit grant は仕様自体から削除されています。<br>
    （2026/4/3現在、TwitchはOAuth 2.0準拠のためImplicit grant flowは使用可能です）<br>
    Implicit grant flow は以下の図に示す流れでトークンを取得する方式になっています。<br>
    <Image src={implicit_grant_flow} width={700} alt="implicit_grant_flow" /><br>
    ※<span set:html={resourceOwner} />
  </p>

  <br>
  <CommonOAuthFlow kbn="implicit" />

  <p>
    <b>5. アクセストークン発行</b><br>
    アクセスが許可されると、redirect_uri に指定したURLにリダイレクトされます。<br>
    リダイレクト先のURLに、以下のような形式で access_token が記載されています。これが User access token です。<br>
  </p>

<pre><code>[指定したリダイレクトURL]/
#access_token=[発行されたトークン]
&scope=[指定したスコープ]
&state=[指定したstate]
&token_type=bearer
</code></pre>

  <br>
  <p>
    有効期限は約2か月です。<br>
    リフレッシュトークンは発行されないため、期限が切れたら再度トークンを取得する必要があります。<br>
    このプロセスを自動化するのはなかなか難しいので、自動化したい場合は<a href="#auth_code_grant_flow">Authorization code grant flow</a>を使用するのが良いでしょう。<br>
    セキュリティ上の理由でもそちらが推奨されます。<br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="refresh_token">リフレッシュトークン</h3>
  <p>
    リフレッシュトークンは、User access token を再取得するためのトークンです。<br>
    <a href="#auth_code_grant_flow">Authorization code grant flow</a>でUser access tokenを発行するとリフレッシュトークンも同時に発行されるため、これを使えば期限切れの前にトークンを再取得することができます。<br>
    POSTリクエストを発行することで再取得できます。curl コマンドなら以下のようになります。<br>
  </p>

<pre><code>curl -X POST 'https://id.twitch.tv/oauth2/token' \
-H 'Content-Type: application/x-www-form-urlencoded' \
-d 'client_id=[clientID]&client_secret=[clientSecret]&refresh_token=[refreshToken]&grant_type=refresh_token'
</code></pre>

  <div style="padding-left: 2em;">
    <ul>
      <li>clientID：<a href="#register_application">アプリケーションの登録</a>で取得したクライアントID</li>
      <li>clientSecret：<a href="#register_application">アプリケーションの登録</a>で取得したシークレット</li>
      <li>refreshToken：<a href="#auth_code_grant_flow">Authorization code grant flow</a>で発行されたリフレッシュトークン</li>
    </ul>
  </div>

  <p>
    上記コマンドを実行すると、以下の形式でレスポンスが返ってきます。 access_token に記載されているのが User access token です。<br>
    リフレッシュトークンも再発行されます。<br>
  </p>

<pre><code>{`{
  "access_token":"[発行されたトークン]",
  "expires_in":[有効期限],
  "refresh_token":"[発行されたリフレッシュトークン]",
  "scope":[指定したスコープ],
  "token_type":"bearer"
}`}
</code></pre>

  <br>
  <p>
    POSTリクエストを送信することでトークンを取得できるので、定期的にトークンを再取得する機能を構築して自動化するのが良いと思います。<br>
  </p>

  <br>
  <h3 class="title" id="user">Twitch のユーザー</h3>
  <p>
    Twitch では、ユーザーを示す項目は大きく3種類あります。<br>
    API や Webhook を使う際に理解しておく必要があるため、ここで整理しておきます。<br>
  </p>

  <ul>
    <li>user_name/login_name：ログインするときのid。アカウントの設定画面では「ユーザー名」と訳されている。後から変更できる。</li>
    <li>display_name：チャット欄などに表示される名前。アカウントの設定画面では「表示名」と訳されている。後から変更できる。設定していないユーザーもいる。</li>
    <li>user_id：Twitch が裏で採番している一意なid。通常意識しない。変更不可。</li>
  </ul>

  <p>
    呼び方は統一されていない気がしますが、項目としてはこの3つがあります。<br>
    display_name が設定されているユーザーの場合、チャットしたときの名前が「あああ(aaa)」と表示されます。この「あああ」が display_name で「aaa」が user_name です。<br>
    Twitch の API や Webhook を使用するときは user_name と user_id を結構使うので、この違いは把握しておきたい。<br>
    下記リンク先から user_name と user_id を相互に変換することができるのでブックマークしておくと良いでしょう。<br>

    <a href="https://www.streamweasels.com/tools/convert-twitch-username-to-user-id/" target="_blank" rel="noopener noreferrer">Convert Twitch Username to Channel ID</a><br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="tmijs">Node.js × tmi.js</h3>
  <p>
    <a href="https://tmijs.com/" target="_blank" rel="noopener noreferrer">tmi.js</a> というライブラリを使うと、視聴者のチャットなど、様々なイベントに反応する処理を実装できます。 Node.js の EventEmitter のような仕組みでチャットをトリガーに処理を動かすことができます。<br>
    また、チャットを投げることもできます。<br>
    tmi.js についてはこちらも参照 <a href="https://github.com/tmijs/tmi.js" target="_blank" rel="noopener noreferrer">github tmi.js</a> 。<br>
    EventEmitter については<a href=`${BASE_URL}/contents/development/javascript/nodejs/nodejs#async`>非同期のイベント駆動型ランタイム</a>を参照してください。<br>

    <br>
    tmi.js はチャット以外にも様々なイベントを拾って処理を開始することができます。ここではそのすべてについては説明しません。イベントの全量は以下リンク先を参照して下さい。<br>
    <a href="https://github.com/tmijs/docs/blob/gh-pages/_posts/v1.4.2/2019-03-03-Events.md" target="_blank" rel="noopener noreferrer">github tmijs/docs</a><br>

    <br>
    イベントの中には Webhook で拾えるものと被っているものが結構あります。<br>
    Webhook よりは tmi.js を使った方が（たぶん）早いので基本的に tmi.js を使えばいいと思いますが、raid は Webhook の方が使い勝手が良いと思います。<br>
    tmi.js の raid だと、 display_name を設定しているユーザーの場合、display_name のみが返され user_name を取得できないからです。display_name をキーに user_name を返してくれるAPI は（たぶん）ないので、結構困ります。<br>
    Webhook であれば user_name と display_name の両方を取得できます。<br>
    tmi.js を改造して両方取得するやり方を紹介しているブログ記事もありますが、外部ライブラリを改造するとバージョンアップの度に書き直す必要があったり、改造が原因で予期せぬ挙動をすることも考えられるのであまりお勧めできません。一応当該記事のリンクを張っておきます。<br>
    <a href="https://zenn.dev/sushat4692/scraps/7c25d4050fcb3b" target="_blank" rel="noopener noreferrer">Zenn tmi.jsでRaidのユーザ名・表示名を別々に取得したい</a><br>

    <br>
    以下は、誰かがチャットするたびに稼働する処理の例です。<a href="https://github.com/tmijs/docs/blob/gh-pages/_posts/v1.4.2/2019-03-03-Events.md#message" target="_blank" rel="noopener noreferrer">Message</a> イベントをトリガーにしています。<br>
    事前に以下コマンドで tmi.js をインストールしている前提です。<br>
    <code>npm i tmi.js</code><br>
  </p>

<pre class="title"><code class="title">twitch_bot.js</code></pre>
<pre><code>{`'use strict';
import tmi from 'tmi.js';

const opts = {
  identity: {
    username: 'user_name',
    password: 'oauth:'+[access_token],
  },
  channels: [
    [channel_name]
  ]
};
const twClientBot = new tmi.client(opts)

// チャットに反応
twClientBot.on('message', (channel, userstate, msg, self) => {
  if (self) return; // Ignore messages from the bot
  // 実装したい処理を書く

  // チャットを投げる
  twClientBot.say(channel, [message]);
});

// Connect to Twitch:
twClientBot.connect();`}
</code></pre>

  <br>
  <p>
    "[ ]" 内には以下の値を設定します。
  </p>
  <ul>
    <li>access_token：<a href="#token">Tokenの発行</a>で取得した User access token</li>
    <li>channel_name：対象チャンネルのチャンネル名（＝user_name）</li>
    <li>message：投稿するメッセージ</li>
  </ul>

  <br>
<pre><code>{`twClientBot.on('message', (channel, userstate, msg, self) => {
  ...中略...
});`}
</code></pre>

  <p>
    の部分はチャットが入力される度に稼働する処理です。channel にはチャンネル名、 userstate にはチャットしてくれたユーザーの情報、 msg にはチャットに入力された文言、 self は自分自身かどうかを示す bool 型の値が入っています。<br>
    第2引数の userstate には以下のようなユーザー情報が json 形式で入っているので、主にこの userstate と msg（ユーザーがチャットに投げた文言） を使って自由に処理を組み立てることができます。<br>
  </p>

<pre><code>{`{
  "badge-info": {
    "subscriber": "8"
  },
  "badges": {
    "broadcaster": "1",
    "subscriber": "0",
    "premium": "1"
  },
  "client-nonce": "sample",
  "color": "#0000FF",
  "display-name": "sample",
  "emotes": null,
  "first-msg": false,
  "flags": null,
  "id": "sample",
  "mod": false,
  "returning-chatter": false,
  "room-id": "sample",
  "subscriber": true,
  "tmi-sent-ts": "sample",
  "turbo": false,
  "user-id": "sample",
  "user-type": null,
  "emotes-raw": null,
  "badge-info-raw": "subscriber/8",
  "badges-raw": "broadcaster/1,subscriber/0,premium/1",
  "username": "sample",
  "message-type": "chat"
}`}
</code></pre>


  <br><br>
  <p>
    以上で tmi.js については終わりです。
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <span id="webhook"></span>
  <h3 class="title">Node.js × Webhook</h3>
  <p>
    Webhook でイベントの通知を受け取るためには、まず受け取るサーバを構築する必要があります。以下リンク先で詳細に解説されていますが、ここでも記載します。<br>
    <a href="https://dev.twitch.tv/docs/eventsub/handling-webhook-events/" target="_blank" rel="noopener noreferrer">Getting Events Using Webhook Callbacks</a><br>

    <br>
    Webhook でイベントを受け取るためには、まず以下のような形式で curl コマンドを実行する必要があります。
  </p>

<pre><code>{`curl -X POST -d '{
  "type":"[subscription_type]",
  "version":"1",
  "condition":{
    "broadcaster_user_id":"[user_id]"
  },
  "transport":{
  "method":"webhook",
  "callback":"[callback_url]",
  "secret":"[secret]"
  }
}'
-H "Content-Type: application/json"
-H "Authorization: Bearer [access_token]"
-H "client-id: [client_id]"
https://api.twitch.tv/helix/eventsub/subscriptions
`}</code></pre>

  <br>
  <ul>
    <li>
      subscription_type：<a href="https://dev.twitch.tv/docs/eventsub/eventsub-subscription-types/" target="_blank" rel="noopener noreferrer">Subscription Types</a> の Name 列の値を設定。<br>
      例として、配信開始イベントを受け取るなら <code>'stream.online'</code> を、チャンネルポイントが使用されたイベントを受け取るなら <code>'channel.channel_points_custom_reward_redemption.add'</code> を指定。
    </li>
    <li>user_id：イベントを受け取りたいユーザーの user_id（基本的には自分の user_id を指定するが、他人の user_id を指定すれば、他人の配信開始などのイベントを受信することも可能）</li>
    <li>
      callback_url：Webhook でイベントの通知を受け取りたいURL<br>
      (https://[ホスト名]/[パス])<br>
      ※指定するURLは443番ポートでSSL通信を使用している必要があります。
    </li>
    <li>secret：Webhook を受け取ったサーバで認証に使用する値</li>
    <li>access_token：<a href="#token">Tokenの発行</a>で取得した App access token</li>
    <li>client_id：<a href="#register_application">アプリケーションの登録</a>で取得したクライアントID</li>
  </ul>
  <br>

  <p>
    上記 curl を実行すると callback_url に確認のリクエストが飛んでくる。<br>
    リクエストヘッダーの 'Twitch-Eventsub-Message-Type' に 'webhook_callback_verification' という値が入ってくるので、その場合は body 部の challenge を status 200 でそのまま返せばOK。<br>
    確認のリクエストを受け取るためのサーバ側の Node.js のコードは以下の通り。http サーバを構築してリクエストを受け取れるようにしています。<br>
    （<a href="#whole">全量のコードを後に</a>載せていますが、長いのでここでは抜粋）<br>
    事前に以下コマンドで express と body-parser というライブラリをインストールしている前提です。<br>
    <code>npm i express</code><br>
    <code>npm i body-parser</code><br>
  </p>

<pre class="title"><code class="title">確認のリクエストを受ける部分抜粋</code></pre>
<pre><code>{`'use strict';
import {createServer} from 'http';
import express from 'express';
import bodyParser from 'body-parser';

const app = express();
app.use(bodyParser.json())

app.post([パス], async (req, res) => {
  const MESSAGE_TYPE = 'Twitch-Eventsub-Message-Type'.toLowerCase();
  const messageType = req.header(MESSAGE_TYPE).toLowerCase();
  const MESSAGE_TYPE_VERIFICATION = 'webhook_callback_verification';
  // 初回認証
  if (messageType === MESSAGE_TYPE_VERIFICATION) {
    res.status(200).send(req.body.challenge);
  } else {
    ...
  }
}

// 中略
const server = createServer(app);
server.listen(8080);`}
</code></pre>

  <br>
  <p>
    以下の curl コマンドを実行すると、問題なく処理されているかを確認することができます。access_token, client_id に設定する値は先の curl コマンドの時と同じです。
  </p>

<pre><code>curl -X GET 'https://api.twitch.tv/helix/eventsub/subscriptions' \
-H 'Authorization: Bearer [access_token]' \
-H 'Client-Id: [client_id]'
</code></pre>

<br>
<p>
  以下のようなレスポンスが返ってきます。 status が enabled になっていれば問題なしです。
</p>

<pre><code>{`{
  "total":1,
  "data":[{
    "id":"xxxxxxxxxx",
    `}<span style="color:red">"status":"enabled",</span>{`
    "type":[指定した subscription_type],
    "version":"1",
    "condition":{
      "broadcaster_user_id":[指定した user_id]
    },
    "created_at":"yyyy-MM-dd'T'HH:mm:ss.SSSSSSSSSSSZ",
    "transport":{
      "method":"webhook",
      "callback":[指定した callback_url]
    },
    "cost":0
  }],
  "max_total_cost":10000,"total_cost":0,"pagination":{}
}`}
</code></pre>


<br>
<AdUnitLandscape />

<br>
<span id="whole"></span>
<p>
以下が（ほぼ）全量の Node.js のコードです。Webhook でイベントの通知を受け取った時の処理も記載しています。<br>
Twitch から送られてきたものであることを確認するため、HMAC認証のコードを入れています。これについては <a href="https://dev.twitch.tv/docs/eventsub/handling-webhook-events/#verifying-the-event-message" target="_blank" rel="noopener noreferrer">Verifying the event message</a> も参照してください。<br>
</p>
<pre class="title"><code class="title">（ほぼ）全量</code></pre>
<pre><code>{`'use strict';
import crypto from 'crypto';
import {createServer} from 'http';
import express from 'express';
import bodyParser from 'body-parser';

const app = express();
app.use(bodyParser.json())

// Notification request header
const TWITCH_MESSAGE_ID = 'Twitch-Eventsub-Message-Id'.toLowerCase();
const TWITCH_MESSAGE_TIMESTAMP = 'Twitch-Eventsub-Message-Timestamp'.toLowerCase();
const TWITCH_MESSAGE_SIGNATURE = 'Twitch-Eventsub-Message-Signature'.toLowerCase();
const MESSAGE_TYPE = 'Twitch-Eventsub-Message-Type'.toLowerCase();

// Notification message types
const MESSAGE_TYPE_VERIFICATION = 'webhook_callback_verification';
const MESSAGE_TYPE_NOTIFICATION = 'notification';

// event type
const SUBSCRITION_TYPE = 'Twitch-Eventsub-Subscription-Type'.toLowerCase();

// Prepend this string to the HMAC that's created from the message
const HMAC_PREFIX = 'sha256=';

// post でリクエスト時に処理するコールバック関数指定
app.post([パス], async (req, res) => {
  let secret = getSecret();
  let hmacMsg = getHmacMessage(req);
  let hmac = HMAC_PREFIX + getHmac(secret, hmacMsg);  // Signature to compare

  // hmac認証失敗なら速攻で返す
  if (!verifyMessage(hmac, req.headers[TWITCH_MESSAGE_SIGNATURE])) {
    res.sendStatus(403);
    return
  }

  const messageType = req.header(MESSAGE_TYPE).toLowerCase();
  // 初回認証
  if (messageType === MESSAGE_TYPE_VERIFICATION) {
    res.status(200).send(req.body.challenge);
  // イベント通知
  } else if (messageType === MESSAGE_TYPE_NOTIFICATION) {
    const subscType = req.header(SUBSCRITION_TYPE).toLowerCase();
    switch (subscType) {
      // 配信開始時の処理
      case 'stream.online':
        // 何か処理
        res.sendStatus(200);
        break;
      // チャンネルポイントが使用された時の処理
      case 'channel.channel_points_custom_reward_redemption.add':
        // 何か処理
        res.sendStatus(200);
        break;
      // raid を受けた／した
      case 'channel.raid':
        // 何か処理
        res.sendStatus(200);
        break;
      // 配信終了
      case 'stream.offline':
        // 何か処理
        res.sendStatus(200);
        break;
      default:
        console.log(new Date() + ':unexpected subscription type.');
        res.sendStatus(200);
    }
  }
});

const server = createServer(app);
server.listen(8080);

function getSecret() {
  // TODO: Get your secret from secure storage. This is the secret you passed 
  // when you subscribed to the event.
  return '&lt;your secret goes here&gt;';
}

// Build the message used to get the HMAC.
function getHmacMessage(req) {
  return (req.headers[TWITCH_MESSAGE_ID] + 
    req.headers[TWITCH_MESSAGE_TIMESTAMP] + 
    JSON.stringify(req.body));
}

// Get the HMAC.
function getHmac(secret, hmacMsg) {
  return crypto.createHmac('sha256', secret)
    .update(hmacMsg)
    .digest('hex');
}

// Verify whether our hash matches the hash that Twitch passed in the header.
function verifyMessage(hmac, verifySignature) {
  return crypto.timingSafeEqual(Buffer.from(hmac), Buffer.from(verifySignature));
}
`}</code></pre>


  <br><br>
  <p>
    以上で Webhook については終わりです。
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <span id="api"></span>
  <h3 class="title">Node.js × Twitch API</h3>
  <p>
    Twitch には様々な API が用意されており、それを呼び出すことで様々な処理を行うことができます。<br>
    API の一覧と仕様は <a href="https://dev.twitch.tv/docs/api/reference/" target="_blank" rel="noopener noreferrer">Twitch API Reference</a> 参照。リクエストパラメータやリクエストボディ、レスポンスの内容、必要なスコープがわかるようになっている。<br>
    今回は例として、ユーザーを Ban する Node.js の関数を作ってみます。<br>
    user_name を引数で受け取り、<a href="https://dev.twitch.tv/docs/api/reference/#get-users" target="_blank" rel="noopener noreferrer">Get Users API</a> で user_name を元に user_id を取得し、それを使用して <a href="https://dev.twitch.tv/docs/api/reference/#ban-user" target="_blank" rel="noopener noreferrer">Ban User API</a> で ban するという流れです。<br>
    ※access_token やクライアントID などの機密情報は、外部ファイルに json 形式などで保存した上で、そこから取得するようにしてください。<br>
  </p>

<pre><code>{`async function banUser(banUserName) {
  // user_name から user_id を取得
  const get_users_url = \`https://api.twitch.tv/helix/users?login=$\{banUserName\}\`
  let result = await fetch(get_users_url , {
    headers: {
      "Authorization": "Bearer " + [access_token],
      "Client-Id": [clientID]
    },
  })

  let banUserInfo = await result.json()
  let banUserId = banUserInfo.data[0].id

  // 対象ユーザーをban
  const ban_api_url = \`https://api.twitch.tv/helix/moderation/bans?broadcaster_id=[配信者のuser_id]&moderator_id=[モデレータのuser_id]\`
  return await fetch(ban_api_url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': 'Bearer ' + [access_token],
      'Client-Id': [clientID]
    },
    body: JSON.stringify({
      'data': {
        'user_id': banUserId
      },
    }),
  })
}
`}</code></pre>

  <br>
  <p>
    "[ ]" には以下の値を設定します。
  </p>
  <ul>
    <li>access_token：<a href="#token">Tokenの発行</a>で取得した User access token</li>
    <li>clientID：<a href="#register_application">アプリケーションの登録</a>で取得したクライアントID</li>
  </ul>

  <br>
  <p>
    以上で Twitch の API については終わりです。
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <span id="others"></span>
  <h3 class="title">その他の実装</h3>
  <p>
    Node.js と Twitch の組み合わせについては以上です。その他の組み合わせについては以下リンク先を参照してください。<br>
  </p>

  <ul>
    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/twitter`>Node.js × twitter</a></li>
    <li><a href=`${BASE_URL}/contents/development/javascript/nodejs/obs`>Node.js × OBS</a></li>
  </ul>

  <br>
  <hr>

  <br>
  参考サイト<br>
  <ul>
    <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/" target="_blank" rel="noopener noreferrer">Twitch developers Getting OAuth Access Tokens</a></li>
    <li><a href="https://dev.twitch.tv/docs/authentication/" target="_blank" rel="noopener noreferrer">Twitch developers Authentication</a></li>
    <li><a href="https://dev.twitch.tv/docs/eventsub/handling-webhook-events/" target="_blank" rel="noopener noreferrer">Twitch developers Getting Events Using Webhook Callbacks</a></li>
    <li><a href="https://dev.twitch.tv/docs/api/" target="_blank" rel="noopener noreferrer">Twitch developers Twitch API</a></li>
    <li><a href="https://dev.twitch.tv/docs/authentication/scopes/" target="_blank" rel="noopener noreferrer">Twitch developers Twitch Access Token Scopes</a></li>
    <li><a href="https://dev.twitch.tv/docs/api/reference/" target="_blank" rel="noopener noreferrer">Twitch developers Twitch API Reference</a></li>
    <li><a href="https://dev.twitch.tv/docs/eventsub/eventsub-subscription-types/" target="_blank" rel="noopener noreferrer">Twitch developers Subscription Types</a></li>
    <li><a href="https://www.streamweasels.com/tools/convert-twitch-username-to-user-id/" target="_blank" rel="noopener noreferrer">Twitch Channel ID and User ID Convertor</a></li>
    <li><a href="https://tmijs.com/" target="_blank" rel="noopener noreferrer">tmi.js</a></li>
    <li><a href="https://github.com/tmijs/tmi.js" target="_blank" rel="noopener noreferrer">github tmi.js</a></li>
    <li><a href="https://github.com/tmijs/docs/blob/gh-pages/_posts/v1.4.2/2019-03-03-Events.md" target="_blank" rel="noopener noreferrer">github tmijs/docs</a></li>
    <li><a href="https://zenn.dev/sushat4692/scraps/7c25d4050fcb3b" target="_blank" rel="noopener noreferrer">Zenn tmi.jsでRaidのユーザ名・表示名を別々に取得したい</a></li>
    <li><a href="https://qiita.com/pasta04/items/750d71d41e5edd12932b" target="_blank" rel="noopener noreferrer">Qiita Twitch APIを利用してみよう</a></li>
    <li><a href="https://zenn.dev/crebo_tech/articles/article-0011-20241006" target="_blank" rel="noopener noreferrer">Zenn 図でざっくり解説 OAuth 2.0入門</a></li>
    <li><a href="https://qiita.com/TakahikoKawasaki/items/e37caf50776e00e733be" target="_blank" rel="noopener noreferrer">Qiita 一番分かりやすい OAuth の説明</a></li>
    <li><a href="https://zenn.dev/naginagi124/articles/58e175779ac537" target="_blank" rel="noopener noreferrer">Zenn OAuth 2.0の理解を諦めた人へ：絶対に理解させるガイド</a></li>
    <li><a href="https://auth0.com/jp/intro-to-iam/what-is-oauth-2" target="_blank" rel="noopener noreferrer">Auth0 OAuth 2.0とは？</a></li>
    <li><a href="https://auth0.com/docs/ja-jp/authenticate/protocols/oauth" target="_blank" rel="noopener noreferrer">Auth0 OAuth 2.0の認可フレームワーク</a></li>
    <li><a href="https://datatracker.ietf.org/doc/html/rfc6749" target="_blank" rel="noopener noreferrer">RFC 6749 The OAuth 2.0 Authorization Framework</a></li>
    <li><a href="https://datatracker.ietf.org/doc/html/rfc9700" target="_blank" rel="noopener noreferrer">RFC 9700 Best Current Practice for OAuth 2.0 Security</a></li>
    <li><a href="https://zenn.dev/calloc134/books/sikkari-oauth-oidc/viewer/20-implicit-flow" target="_blank" rel="noopener noreferrer">Zenn インプリシットフローの解説と非推奨の理由</a></li>
  </ul>
</SiteLayout>
