---
import SiteLayout, { type Breadcrumb } from '../../../../../../layouts/SiteLayout.astro';
import { BASE_URL, TWITTER_CARD_SUMMARY } from '../../../../../../consts';
import { Image } from 'astro:assets';
import refactoring from '../../../img/refactoring.jpg';
import legacy_code from '../../../img/legacy_code.jpg';
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { smplCondExpressBcList } from '../simplifying_conditional_expressions.astro';

export const introAssertBc: Breadcrumb = {
  name: "Introduce Assertion",
  item: `${BASE_URL}/contents/development/refactoring/category/sub_simplcondexp/introduce_assertion`
};
export const introAssertBcList: Breadcrumb[] = [...smplCondExpressBcList, introAssertBc];
const indexList: index[] = [
  { id: '#introduceassertion', name: 'Introduce Assertion' }
];
---

<SiteLayout
  title="Introduce Assertion"
  description="リファクタリング: Introduce Assertion の解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  breadcrumbList={introAssertBcList}
  indexList={indexList}
>

  <br>
  <h3 class="title" id="introduceassertion">Introduce Assertion</h3>
  <p>ここでは<a href=`${BASE_URL}/contents/development/codesmell/codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={refactoring} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={legacy_code} alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>

  <h1 id="simplifyingconditionalexpressions">Simplifying Conditional Expressions</h1>
  <p><a href="https://sourcemaking.com/refactoring/simplifying-conditional-expressions" target="_blank" rel="noopener noreferrer">Simplifying Conditional Expressions</a></p>

  <h2>Introduce Assertion</h2>
  <p><a href="https://sourcemaking.com/refactoring/introduce-assertion" target="_blank" rel="noopener noreferrer">Introduce Assertion</a>
    コードが正しく動作するのに必要な前提条件がある場合、assert()を使用して事前チェックするようにしましょう。</p>
  <p><strong><em>関連するCode Smell</em></strong></p>
  <ul>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#comments" target="_blank" rel="noopener noreferrer">Comments</a></li>
  </ul>
</SiteLayout>
