---
import SiteLayout, { type Breadcrumb } from '../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../consts';
import type { index } from '../../../../components/HeaderIndex.astro';
import { indexPagebcList } from '../../../index.astro';

export const javaBc: Breadcrumb = {
  name: "Java",
  item: `${BASE_URL}/contents/development/java/java_index`
};
export const javaBcList: Breadcrumb[] = [...indexPagebcList, javaBc];
const indexList: index[] = [
  { id: 'jjug', name: 'jjug Java 25周年記念' }
];
---
<SiteLayout
  title="Java関連"
  description="Java関連のまとめページ"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  breadcrumbList={javaBcList}
  indexList={indexList}
>

  <br>
  <h3 class="title">Java関連</h3>
  <ul>
    <li><a href=`${BASE_URL}/contents/development/java/jjug/jjug_happy_25th_anniversary_java`>jjug Java 25周年記念</a></li>
    <li><a href=`${BASE_URL}/contents/development/java/java_lang/java14_new_funcs`>Java 14で最低限押さえておきたい新機能をEclipseで使ってみた</a></li>
  </ul>

  <br><br><br><br>
</SiteLayout>
