---
import SiteLayout, { type Breadcrumb } from '../../../../../../layouts/SiteLayout.astro';
import { BASE_URL, TWITTER_CARD_SUMMARY } from '../../../../../../consts';
import { Image } from 'astro:assets';
import refactoring from '../../../img/refactoring.jpg';
import legacy_code from '../../../img/legacy_code.jpg';
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { organizeDataBcList } from '../organizing_data.astro';

export const toValueBc: Breadcrumb = {
  name: "Change Reference to Value",
  item: `${BASE_URL}/contents/development/refactoring/category/sub_orgdata/change_reference_to_value`
};
export const toValueBcList: Breadcrumb[] = [...organizeDataBcList, toValueBc];
const indexList: index[] = [
  { id: '#changereferencetovalue', name: 'Change Reference to Value' }
];
---

<SiteLayout
  title="Change Reference to Value"
  description="リファクタリング: Change Reference to Value の解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  breadcrumbList={toValueBcList}
  indexList={indexList}
>

  <br>
  <h3 class="title" id="changereferencetovalue">Change Reference to Value</h3>
  <p>ここでは<a href=`${BASE_URL}/contents/development/codesmell/codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={refactoring} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={legacy_code} alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>

  <h1 id="organizingdata">Organizing Data</h1>
  <p><a href="https://sourcemaking.com/refactoring/organizing-data" target="_blank" rel="noopener noreferrer">Organizing Data</a></p>

  <h2>Change Reference to Value</h2>
  <p><a href="https://sourcemaking.com/refactoring/change-reference-to-value" target="_blank" rel="noopener noreferrer">Change Reference to Value</a>
  ※関連するCode Smellがなかったためリンクのみ。</p>
</SiteLayout>
