---
import SiteLayout from '../../../../../../layouts/SiteLayout.astro';
import { BASE_URL, TWITTER_CARD_SUMMARY } from '../../../../../../consts';
import { Image } from 'astro:assets';
import refactoring from '../../../img/refactoring.jpg';
import legacy_code from '../../../img/legacy_code.jpg';

const indexList = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#organizingdata', name: 'Organizing Data' },
  { id: '#replacedatavaluewithobject', name: 'Replace Data Value with Object' }
];
---

<SiteLayout title="Replace Data Value with Object | リファクタリング技法" indexList={indexList} twitterCardSize={TWITTER_CARD_SUMMARY}>
  <h2 class="title">リファクタリング技法</h2>
  <p>ここでは<a href=`${BASE_URL}/contents/development/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={refactoring} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={legacy_code} alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>

  <h1 id="organizingdata">Organizing Data</h1>
  <p><a href="https://sourcemaking.com/refactoring/organizing-data" target="_blank" rel="noopener noreferrer">Organizing Data</a></p>

  <h2 id="replacedatavaluewithobject">Replace Data Value with Object</h2>
  <p><a href="https://sourcemaking.com/refactoring/replace-data-value-with-object" target="_blank" rel="noopener noreferrer">Replace Data Value with Object</a>
    プリミティブ型で定義されたデータフィールドとその振る舞いを別の新しいクラスとして切り出し、それを元のクラスに保有させます。</p>
  <p>※参考：ValueObject<br/>Replace Data Value with Objectを理解するためにDDDのValueObjectが参考になると思ったので、ValueObjectを解説しているサイトのリンクを張っておきます。</p>
  <ul>
    <li><a href="https://qiita.com/little_hand_s/items/f8c0d0858c895afed7e2" target="_blank" rel="noopener noreferrer">DDD基礎解説：エンティティ、バリューオブジェクトってなんなんだ</a></li>
    <li><a href="https://qiita.com/okuramasafumi/items/03ef332704cf6a2350f8" target="_blank" rel="noopener noreferrer">バリューオブジェクトの私的まとめ</a></li>
    <li><a href="https://qiita.com/ikemo/items/8df668b3efd38026a416" target="_blank" rel="noopener noreferrer">オブジェクト指向の理解にはValue Objectを作る習慣から</a></li>
  </ul>
  <p><strong><em>関連するCode Smell</em></strong></p>
  <ul>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#primitive-obsession" target="_blank" rel="noopener noreferrer">Primitive Obsession</a></li>
  </ul>
</SiteLayout>
