---
import SiteLayout, { type Breadcrumb } from '../../../../../../layouts/SiteLayout.astro';
import { Image } from 'astro:assets';
import RefactoringImg from "../../../img/refactoring.jpg";
import LegacyCodeImg from "../../../img/legacy_code.jpg";
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { BASE_URL } from '../../../../../../consts';
import { couplersBcList } from '../couplers.astro';

const title = "Message Chains";
const description = "Code Smell: Message Chains";
const twitterCardSize = "summary_large_image";

export const messageChainsBc: Breadcrumb = {
  name: "Message Chains",
  item: `${BASE_URL}/contents/development/codesmell/category/sub_couplers/message_chains`
};
export const messageChainsBcList: Breadcrumb[] = [...couplersBcList, messageChainsBc];
const indexList: index[] = [
  { id: "#messagechains", name: "Message Chains" }
];
---

<SiteLayout
  title={title}
  description={description}
  twitterCardSize={twitterCardSize}
  breadcrumbList={messageChainsBcList}
  indexList={indexList}
>

  <br>
  <h3 id="messagechains">Message Chains</h3>
  <p><a href="https://sourcemaking.com/refactoring/smells/message-chains" target="_blank" rel="noopener noreferrer">Message Chains（メッセージの連鎖）</a></p>
  <p><strong><em>兆候と症状</em></strong>
  <code>a-&gt; b（）-&gt; c（）-&gt; d（）</code>というような一連のメソッド呼び出し</p>
  <p><strong><em>問題の理由</em></strong>
  Message Chainsは、クライアントが別のオブジェクトを要求し、そのオブジェクトがさらに別のオブジェクトを要求したときなどに発生します。このような関係の変更には、クライアントの変更が必要です。</p>
  <p><strong><em>対処</em></strong>
  Message Chainsを削除するには、「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#hide-delegate" target="_blank" rel="noopener noreferrer">Hide Delegate</a>」を使用します。</p>
  <p>Message Chainsの終端のオブジェクトが使用されている理由を考える方が良い場合があります。おそらく、この機能に「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#extract-method" target="_blank" rel="noopener noreferrer">Extract Method</a>」を使用し、「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#move-method">Move Method</a>」を使用してチェーンの先頭に移動するのが理にかなっています。</p>
  <p><strong><em>効果</em></strong></p>
  <ul>
    <li>クラス間の依存関係を減らすことができます。</li>
    <li>コードのバルクを削減できます。</li>
  </ul>
  <p><strong><em>When to Ignore</em></strong>
  <a href="https://qiita.com/taumax/items/f192b16676f78fa04849#hide-delegate" target="_blank" rel="noopener noreferrer">Hide Delegate</a>しすぎた結果、実際に処理が行われる場所の確認が難しくなることがあります。言い方を変えると、Middle ManのCode Smellも避けてください。</p>

  <br/><br/>
  書籍としてはこの辺りが参考になると思います。<br/>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={RefactoringImg} alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={LegacyCodeImg} alt="legacy_code" /></a>
</SiteLayout>
