---
import SiteLayout from '../../../../../../layouts/SiteLayout.astro';
import { Image } from 'astro:assets';
import RefactoringImg from "../../../img/refactoring.jpg";
import LegacyCodeImg from "../../../img/legacy_code.jpg";

const title = "Message Chains";
const description = "Code Smell: Message Chains";
const twitterCardSize = "summary_large_image";
const indexList = [
  { text: "Home", href: "/" }
];
---

<SiteLayout title={title} description={description} twitterCardSize={twitterCardSize} indexList={indexList}>
  <h3 id="messagechains">Message Chains</h3>
  <p><a href="https://sourcemaking.com/refactoring/smells/message-chains">Message Chains（メッセージチェーン）</a></p>
  <p>Message Chainsは、オブジェクトのメソッド呼び出しが連鎖的に続く場合に発生します。たとえば、a.getB().getC().getD()のようなコードです。</p>
  <p><strong><em>兆候と症状</em></strong>
    メソッド呼び出しが連鎖的に続き、コードの可読性や保守性が低下する。</p>
  <p><strong><em>問題の理由</em></strong>
    オブジェクト間の依存関係が強くなり、設計が複雑化する場合に発生します。</p>
  <p><strong><em>対処</em></strong></p>
  <ul>
    <li><p>「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#hide-delegate">Hide Delegate</a>」や「<a href="https://qiita.com/taumax/items/f192b16676f78fa04849#extract-method">Extract Method</a>」を使って、メッセージチェーンを隠蔽または分割します。</p></li>
  </ul>
  <p><strong><em>効果</em></strong></p>
  <ul>
    <li>可読性の向上</li>
    <li>保守性の向上</li>
  </ul>
  <br /><br />
  書籍としてはこの辺りが参考になると思います。<br />
  <br />
  リファクタリング第2版<br />
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><Image src={RefactoringImg} alt="refactoring" /></a>
  <br />
  レガシーコード改善ガイド<br />
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><Image src={LegacyCodeImg} alt="legacy_code" /></a>
</SiteLayout>
