---
import { Image } from "astro:assets";
import SiteLayout, { type Breadcrumb } from "../../../../layouts/SiteLayout.astro";
import { TWITTER_CARD_SUMMARY } from '../../../../components/BaseHead.astro';
import { BASE_URL } from "../../../../consts";
import AdUnitLandscape from "../../../../components/AdUnitLandscape.astro";
import CommonOAuthFlow from "../../../../components/security/oauth/CommonOAuthFlow.astro";
import { securityBreadcrumbList } from "../security.astro";
import type { index } from "../../../../components/HeaderIndex.astro";
import authorization_code_grant_flow from './img/authorization_code_grant_flow.jpg';
import client_credentials_grant_flow from './img/client_credentials_grant_flow.jpg';
import implicit_grant_flow from './img/implicit_grant_flow.jpg';
import console_img from './img/console.jpg';
import application_info_img from './img/application_info.jpg';
import yokodori_img from './img/yokodori.jpg';
import pkce_img from './img/pkce.svg?url';

const RESOURCE_OWNER = `リソースオーナーとは一般的に、『アカウントを持つユーザー本人』を指します。<br>
OAuth 2.0認可フレームワークにおいて、保護されたデータやサービス（リソース）を所有し、そのアクセス権限を第三者（クライアント）へ付与できるユーザーまたはシステムのことです。`

export const oauth20Pagebc: Breadcrumb = {
  name: "OAuth 2.0",
  item: `${BASE_URL}/contents/security/security/oauth/oauth2.0`
};
const breadcrumbList: Breadcrumb[] = [...securityBreadcrumbList, oauth20Pagebc];
const indexList: index[] = [
  { id: "#firstly", name: "はじめに" },
  { id: "#register_application", name: "アプリケーションの登録" },
  { id: "#token", name: "トークン発行" },
  { id: "#client_cred_grant_flow", name: "Client credentials grant flow" },
  { id: "#auth_code_grant_flow", name: "Authorization code grant flow" },
  { id: "#implicit_grant_flow", name: "Implicit grant flow" },
  { id: "#refresh_token", name: "リフレッシュトークン" },
  { id: "#pkce", name: "PKCE" },
  { id: "#pkce_state", name: "PKCEとstate" }
];
---

<SiteLayout
  title="OAuth 2.0の認証フロー"
  description="OAuth 2.0の認証フローについて説明します。TwitchのAPIを呼び出す際の認証フローを例に、OAuth 2.0の認証フローについて説明していきます。"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  breadcrumbList={breadcrumbList}
  indexList={indexList}
>

  <br>
  <h3 class="title" id="firstly">はじめに</h3>
  <p>
    このページは、OAuth 2.0の認証フローについて説明するページです。<br>
    机上の理論だけだとなかなか理解が深まらないと思うので、OAuth 2.0に準拠しているTwitchの認証フローを追いながら実際にトークンを発行し、OAuth 2.0の認証フローについて理解を深めていきます。<br>
    発行されたトークンをTwitchでどう使うのかについては<a href=`${BASE_URL}/contents/development/javascript/nodejs/twitch`>Node.js × Twitch</a>を参照してください。<br>
    トークンの発行は大まかに以下の2ステップで行います。
  </p>
  <ol>
    <li><a href="#register_application">アプリケーションの登録</a></li>
    <li><a href="#token">トークンの発行</a></li>
  </ol>
  <p>
    以下、順に説明していきます。
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="register_application">アプリケーションの登録</h3>
  <p>
    トークンを発行する前に、まずTwitchと連動するアプリケーションを登録してClient IDとClient Secretを発行する必要があります。<br>
    Client IDはアプリケーションを識別するためのIDで、Client Secretはアプリケーション固有のパスワードのようなものです。<br>
    トークンを発行する際に必要になります。<br>
    Client IDとClient Secretを発行するには、Twitchのdevelopersサイトでアプリケーションを登録する必要があります。<br>
    リンク先（<a href="https://dev.twitch.tv/" target="_blank" rel="noopener noreferrer">Twitch developers</a>）右上の「Log in with Twitch」ボタンからdevelopersサイトにログイン。<br>
    その後、右上の「Your Console」ボタンからコンソール画面に遷移して、「アプリケーションを登録」ボタンを押下。<br>
    <Image src={console_img} width={500} alt="console" /><br>

    <br>
    アプリケーションの管理画面でアプリケーション名、OAuthのリダイレクトURL、カテゴリーを入力。<br>
    「新しい秘密」ボタンを押下するとシークレット(Client Secret)が生成されます。<br>
    クライアントIDとシークレットを控えて「保存」ボタンを押下すると、アプリケーションの登録が完了です。<br>
    <Image src={application_info_img} width={500} alt="application_info" /><br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="token">トークンの発行</h3>
  <p>
    Client IDとClient Secretが発行されたらトークンを発行できるようになります。<br>
    TwitchのトークンにはApp access tokenとUser access tokenの2種類があり、それぞれ用途は以下の通り。<br>
  </p>

  <div style="padding-left: 1em;" class="slider">
    <table border="1">
      <tr><th style="z-index: 0">トークンの種類</th><th>用途</th></tr>
      <tr>
        <td style="white-space: nowrap;">
          <a href="https://dev.twitch.tv/docs/authentication/#user-access-tokens" target="_blank" rel="noopener noreferrer">User access token</a>
        </td>
        <td>
          User access tokenは、リソースオーナー（※）の承認が必要なAPIを発行する場合に使用します。<br>
          <a href="https://dev.twitch.tv/docs/authentication/scopes/" target="_blank" rel="noopener noreferrer">Twitchのスコープ一覧</a>に記載されているスコープを指定して、アプリケーションにアクセスを許可するリソースの範囲を指定します。<br>
          例えば以下に示すようなPoll（投票）に関するAPIを発行する場合、 channel:manage:polls スコープを指定してUser access tokenを発行する必要があります。<br>
          <ul>
            <li><a href="https://dev.twitch.tv/docs/api/reference#create-poll" target="_blank" rel="noopener noreferrer">Create Poll</a></li>
            <li><a href="https://dev.twitch.tv/docs/api/reference#end-poll" target="_blank" rel="noopener noreferrer">End Poll</a></li>
            <li><a href="https://dev.twitch.tv/docs/api/reference#get-polls" target="_blank" rel="noopener noreferrer">Get Polls</a></li>
          </ul>
          リンク先を見れば、channel:manage:polls スコープを含むUser access tokenが必要なことがわかります。
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap;">
          <a href="https://dev.twitch.tv/docs/authentication/#app-access-tokens" target="_blank" rel="noopener noreferrer">App access token</a>
        </td>
        <td>
          App access tokenは、以下のような場合に使用します。
          <ul class="inside_table">
            <li>
              リソースオーナーの承認が不要な機能を利用する場合<br>
              例えば<a href="https://dev.twitch.tv/docs/api/reference#get-videos" target="_blank" rel="noopener noreferrer">Get Videos API</a>は、指定したIDに紐づく情報をリソースオーナーの承認無しで取得することができます。<br>
              App access tokenが使用できるAPIであれば、自分の情報であろうが他人の情報であろうが取得可能だということです。<br>
              <ul style="list-style-type: circle">
                <li>
                  App access tokenを受け入れる殆どのAPIはUser access token も使用できるため、User access tokensを既に取得している場合はApp access tokenを取得する必要はない。<br>
                </li>
              </ul>
            </li>
            <li>
              Webhookを使用してイベントを受信する場合<br>
              <ul style="list-style-type: circle">
                <li>
                  Webhookを使用してイベントの通知を受信する場合、サブスクリプションの登録リクエストを行う必要があり、その際にはApp access tokenを使用します。<br>
                  User access tokenを使用すると、リクエストは失敗します。<br>
                </li>
                <li>
                  イベントの種類によってはリソースオーナーの承認が必要なものもあります。<br>
                  <a href="https://dev.twitch.tv/docs/eventsub/eventsub-subscription-types/#channelsubscribe" target="_blank" rel="noopener noreferrer">channel.subscribe</a> イベントはその一つです。<br>
                  channel.subscribeイベントを受信するには、まずリソースオーナーの承認を得るため、channel:read:subscriptionsスコープを含むUser access tokenを取得します。<br>
                  その上で、App access tokenを使用してサブスクリプションの登録リクエストを行います。
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div style="padding-left: 1em;" class="slider">
    ※<span set:html={RESOURCE_OWNER} />
  </div>

  <br>
  <p>
    トークンの取得方法については<a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/" target="_blank" rel="noopener noreferrer">リンク先にまとまって</a>いる通り、4種類の認証フローがあります。<br>
  </p>

  <div style="padding-left: 1em;" class="slider">
    <table border="1">
      <tr><th style="z-index: 0">発行するトークン</th><th>認証フロー</th><th>使用するケース</th><th>リフレッシュトークンの発行</th><th>有効期限</th><th>関連リンク</th></tr>
      <tr>
        <td>App access token</td>
        <td><a href="#client_cred_grant_flow">Client credentials grant flow</a></td>
        <td>App access tokenを使用したAPIを呼び出す場合に使用します。</td>
        <td>無し</td>
        <td>約2ヶ月</td>
        <td>
          <ul class="inside_table">
            <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#client-credentials-grant-flow" target="_blank" rel="noopener noreferrer">Client credentials grant flow</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.4" target="_blank" rel="noopener noreferrer">1.3.4. Client Credentials</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td rowspan="3">User access token</td>
        <td><a href="#auth_code_grant_flow">Authorization code grant flow</a></td>
        <td>
          バックエンドが存在するアプリケーションの場合に使用します。<br>
          以下2点を満たす必要があります。<br>
          <ul class="inside_table">
            <li>クライアントシークレットを安全に保存できる環境</li>
            <li>TwitchのAPIサーバーと通信できる環境</li>
          </ul>
          OAuth 2.0では「<a href="#pkce">Authorization Code + PKCE</a>」が推奨されているが、<br>
          2026/4/18現在、Twitchでは従来のAuthorization code grant flow<br>
          を使用可能。
        </td>
        <td>あり</td>
        <td>約4時間</td>
        <td>
          <ul class="inside_table">
            <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#authorization-code-grant-flow" target="_blank" rel="noopener noreferrer">Authorization code grant flow</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.1" target="_blank" rel="noopener noreferrer">1.3.1. Authorization Code</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><a href="#implicit_grant_flow">Implicit grant flow</a></td>
        <td>
          バックエンドが存在しないアプリケーションの場合に使用します。<br>
          例えば以下のようなアプリケーションが該当します。<br>
          <ul class="inside_table">
            <li><a href=`${BASE_URL}/contents/development/javascript/spa/spa`>SPA(Single Page Application)</a></li>
            <li>クライアントサイドのJavaScript</li>
            <li>モバイルアプリケーション</li>
          </ul>
          OAuth 2.0では「<a href="#pkce">Authorization Code + PKCE</a>」が推奨されているが、<br>
          2026/4/18現在、Twitchでは従来のImplicit grant flowを使用可能。
        </td>
        <td>無し</td>
        <td>約2ヶ月</td>
        <td>
          <ul class="inside_table">
            <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#implicit-grant-flow" target="_blank" rel="noopener noreferrer">Implicit grant flow</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.2" target="_blank" rel="noopener noreferrer">1.3.2. Implicit</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Device code grant flow</td>
        <td>
          バックエンドが存在しないスタンドアロンデバイス上で動作する<br>
          アプリケーションの場合
          <ul class="inside_table">
            <li>テレビやゲーム機などのセットトップボックス</li>
            <li>ビデオゲーム機のアプリケーション</li>
          </ul>
        </td>
        <td>あり</td>
        <td>約4時間</td>
        <td>
          <ul class="inside_table">
            <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#device-code-grant-flow" target="_blank" rel="noopener noreferrer">Device code grant flow</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749#section-2.1" target="_blank" rel="noopener noreferrer">2.1. Client Types</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <br>
  <p>
    具体的にどうやってトークンを取得するかは <a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#examples-of-the-four-flows" target="_blank" rel="noopener noreferrer">Examples of the four flows</a> に書いていますが、以下にも記載します。<br>
    Device code grant flowは私は使ったことがないので他の3つのフローと、2026/4/18現在、OAuthの標準になっているPKCEについて説明します。<br>
  </p>
  <ul>
    <li><a href="#client_cred_grant_flow">Client credentials grant flow</a></li>
    <li><a href="#auth_code_grant_flow">Authorization code grant flow</a></li>
    <li><a href="#implicit_grant_flow">Implicit grant flow</a></li>
    <li><a href="#pkce">Authorization Code + PKCE</a></li>
  </ul>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="client_cred_grant_flow">Client credentials grant flow</h3>
  <p>
    Client credentials grant flowは、App access tokenを発行するためのフローです。<br>
    以下の図に示す流れになっています。見てわかる通りかなりシンプルです。<br>
    <Image src={client_credentials_grant_flow} width={350} alt="client_credentials_grant_flow" /><br>

    <br>
    POSTリクエストを発行することで取得できます。curl コマンドなら以下のようになります。<br>
  </p>

<pre><code class="copy">curl -X POST 'https://id.twitch.tv/oauth2/token' \
-H 'Content-Type: application/x-www-form-urlencoded' \
-d 'client_id=[clientID]&client_secret=[clientSecret]&grant_type=client_credentials'
</code></pre>

  <div style="padding-left: 2em;">
    <ul>
      <li>clientID：<a href="#register_application">アプリケーションの登録</a>で取得したクライアントID</li>
      <li>clientSecret：<a href="#register_application">アプリケーションの登録</a>で取得したシークレット</li>
    </ul>
  </div>

  <p>
    上記コマンドを実行すると、以下の形式でレスポンスが返ってきます。<br>
    access_tokenに記載されているのがApp access tokenです。<br>
  </p>

<pre><code class="copy">{`{
  "access_token":"[発行されたトークン]",
  "expires_in":[有効期限],
  "token_type":"bearer"
}`}
</code></pre>

  <br>
  <p>
    有効期限は約2ヶ月です。<br>
    リフレッシュトークンは発行されないため、期限が切れたら再度トークンを取得する必要があります。<br>
    POSTリクエストを送信することでトークンを取得できるので、定期的にトークンを再取得する機能を構築して自動化するのが良いと思います。<br>
    Node.jsであれば<code>node-cron</code>というライブラリがあるので、<code>npm install node-cron</code>でインストールして使うと定期的にトークンを再取得する処理を自動化できます。<br>
    サンプルコードは以下の通り。<br>
  </p>

<pre class="title"><code class="title">Node.jsサンプル</code></pre>
<pre><code class="copy">{`import cron from 'node-cron'

// 毎月1日の1時に稼働する
cron.schedule('0 1 1 * *', async () => {
    // 安全な場所に保存されたclientID, clientSecretを取得する処理
    ...
    const accessToken = await fetchNewToken(clientID, clientSecret)
    // 取得したトークンを安全な場所に保存する処理
    ...
})

// 新しいトークンを取得する
export async function fetchNewToken(clientID, clientSecret) {
    const result = await fetch('https://id.twitch.tv/oauth2/token', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: \`client_id=\${clientID}&client_secret=\${clientSecret}&grant_type=client_credentials\`
    })
    const json = await result.json()
    return json
}`}
</code></pre>


  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="auth_code_grant_flow">Authorization code grant flow</h3>
  <p>
    Authorization code grant flowは、バックエンドが存在するシステムで使用する想定のフローです。<br>
    以下の図に示す流れでトークンを取得します。<br>
    このフローは認可コードを横取りできるケースが存在するため、現在では<a href="#pkce">Authorization Code + PKCE</a>を使うのがOAuthの標準です。<br>
    <Image src={authorization_code_grant_flow} width={700} alt="oauth" /><br>
    ※<span set:html={RESOURCE_OWNER} />
  </p>

  <br>
  <CommonOAuthFlow kbn="authorization" />

  <p>
    <b>5. 認可コード発行</b><br>
    アクセスが許可されると、redirect_uriに指定したURLにリダイレクトされます。<br>
    リダイレクト先のURLクエリパラメータ（?code=xxx）部分にcodeが記載されています。これが認可コードです。<br>
    クエリパラメータはリダイレクト先のサーバーに渡るため、サーバー側で認可コードを受け取ってそのまま次のステップを処理することができます。<br>
  </p>

<pre><code class="copy">[redirectURI]
?code=[発行された認可コード]
&scope=[指定したスコープ]
&state=[指定したstate]
</code></pre>

  <br>
  <p>
    「1.認可リクエスト」時に送付したstateも含まれています。<br>
    送付した時の値と同じであることを確認することで、CSRF（クロスサイトリクエストフォージェリ）を防止します。<br>
  </p>

  <br>
  <p>
    <b>6. トークン発行依頼</b><br>
    発行された認可コードを使用して以下のような形式のPOSTリクエストを送ると、アクセストークンとリフレッシュトークンが発行されます。<br>
    redirect_uriを指定していますが、実際にはリダイレクトされません。<br>
    但し、「1. 認可リクエスト」で指定したものと同じである必要があります。<br>
    文字列として完全一致している必要があり、末尾のスラッシュも含めて一致させる必要があります。<br>
    「1. 認可リクエスト」で https://xxx.co.jp を指定してここで https://xxx.co.jp/ を指定したらエラーとなり、トークンは発行されません。<br>
  </p>

<pre><code class="copy">curl -X POST 'https://id.twitch.tv/oauth2/token' \
-H 'Content-Type: application/x-www-form-urlencoded' \
-d 'client_id=[clientID]&client_secret=[clientSecret]&code=[発行された認可コード]&grant_type=authorization_code&redirect_uri=[redirectURI]'
</code></pre>

  <br>
  <p>
    <b>7. アクセストークン、リフレッシュトークン発行</b><br>
    上記コマンドが成功すると以下のようなjsonが返ってきます。<br>
    access_tokenがUser access tokenで、refresh_tokenがリフレッシュトークンです。<br>
  </p>

<pre><code class="copy">{`{
  "access_token":"[発行されたトークン]",
  "expires_in":15668,
  "refresh_token":"[発行されたリフレッシュトークン]",
  "scope":[指定したスコープ],
  "token_type":"bearer"
}`}
</code></pre>

  <br>
  <p>
    このフローで発行した場合、トークンの有効期限は約4時間です。<br>
    トークンを再取得する場合は、<a href="#refresh_token">リフレッシュトークン</a>を使うか、再度Authorization code grant flowを経てトークンを発行する必要があります。<br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="implicit_grant_flow">Implicit grant flow</h3>
  <p>
    Implicit grant flowは、SPAなどのように、バックエンドが存在しないクライアントサイドのアプリケーションで使用する想定のフローです。<br>
    <a href="#auth_code_grant_flow">Authorization code grant flow</a>と違って認可コードを使用しない方式です。<br>
    認可コードを使う方式に比べて安全性に問題があるため OAuth としては非推奨の方式であり、OAuth 2.1からは Implicit grant は仕様自体から削除されています。<br>
    （ただし、<a href="#auth_code_grant_flow">Authorization code grant flow</a>も認可コードを横取りできるケースが存在するため、現在は<a href="#pkce">Authorization Code + PKCE</a>を使うのがOAuthの標準です）<br>
    2026/4/18現在、Twitch は OAuth 2.0 準拠のため Implicit grant flow でトークンを発行することができます。<br>
    以下の図に示す流れでトークンを取得する方式です。<br>
    <Image src={implicit_grant_flow} width={650} alt="implicit_grant_flow" /><br>
    ※<span set:html={RESOURCE_OWNER} />
  </p>

  <br>
  <CommonOAuthFlow kbn="implicit" />

  <p>
    <b>5. アクセストークン発行</b><br>
    アクセスが許可されると、redirect_uriに指定したURLにリダイレクトされます。<br>
    リダイレクト先URLのフラグメント（#access_token=xxx）部分にaccess_tokenが記載されています。これがUser access tokenです。<br>
    ブラウザがリダイレクトURLにアクセスするとき、フラグメント部分はHTTPリクエストに含まれず、サーバーのアクセスログに残りません。<br>
    Implicit grant flowはクライアントサイドのアプリケーションで使用する想定のフローなので、アクセストークンをどこにも記録させずに、JavaScriptにだけ渡すためにフラグメントにしています。<br>
  </p>

<pre><code class="copy">[指定したリダイレクトURL]/
#access_token=[発行されたトークン]
&scope=[指定したスコープ]
&state=[指定したstate]
&token_type=bearer
</code></pre>

  <br>
  <p>
    「1.認可リクエスト」時に送付したstateも含まれています。<br>
    送付した時の値と同じであることを確認することで、CSRF（クロスサイトリクエストフォージェリ）を防止します。<br>

    <br>
    このフローで発行した場合、トークンの有効期限は約2か月です。<br>
    リフレッシュトークンは発行されないため、期限が切れたら再度トークンを取得する必要があります。<br>
  </p>

  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="refresh_token">アクセストークンの更新(refresh token)</h3>
  <p>
    <a href="#auth_code_grant_flow">Authorization code grant flow</a>でUser access tokenと合わせてrefresh_tokenが発行されます。<br>
    これを使うと、User access tokenの期限が切れる前にトークンを再取得することができます。<br>
    （<a href="https://dev.twitch.tv/docs/authentication/refresh-tokens/" target="_blank" rel="noopener noreferrer">Twitchの公式文書はこちら</a>）<br>
    refresh_tokenを使ってPOSTリクエストを送信することで再取得できます。curl コマンドなら以下のようになります。<br>
  </p>

<pre><code class="copy">curl -X POST 'https://id.twitch.tv/oauth2/token' \
-H 'Content-Type: application/x-www-form-urlencoded' \
-d 'client_id=[clientID]&client_secret=[clientSecret]&refresh_token=[refreshToken]&grant_type=refresh_token'
</code></pre>

  <div style="padding-left: 2em;">
    <ul>
      <li>clientID：<a href="#register_application">アプリケーションの登録</a>で取得したクライアントID</li>
      <li>clientSecret：<a href="#register_application">アプリケーションの登録</a>で取得したシークレット</li>
      <li>refreshToken：<a href="#auth_code_grant_flow">Authorization code grant flow</a>で発行されたリフレッシュトークン</li>
    </ul>
  </div>

  <p>
    上記コマンドを実行すると、以下の形式でレスポンスが返ってきます。<br>
    access_tokenに記載されているのが、再発行されたUser access tokenです。<br>
    refresh_tokenも返却されます。<br>
  </p>

<pre><code class="copy">{`{
  "access_token":"[発行されたトークン]",
  "expires_in":[有効期限],
  "refresh_token":"[発行されたリフレッシュトークン]",
  "scope":[指定したスコープ],
  "token_type":"bearer"
}`}
</code></pre>

  <br>
  <p>
    POSTリクエストを送信することでトークンを取得できるので、定期的にトークンを再取得する機能を構築して自動化するのが良いと思います。<br>
    Node.jsであれば<code>node-cron</code>というライブラリがあるので、<code>npm install node-cron</code>でインストールして使うと定期的にトークンを再取得する処理を自動化できます。<br>
    サンプルコードは以下の通り。<br>
  </p>

<pre class="title"><code class="title">Node.jsサンプル</code></pre>
<pre><code class="copy">{`import cron from 'node-cron'

// 毎日3時間毎の0分に稼働する
cron.schedule('0 */3 * * *', async () => {
    // 安全な場所に保存されたclientID, clientSecret, refreshTokenを取得する処理
    ...
    const accessToken = await refreshToken(clientID, clientSecret, refreshToken)
    // 取得したトークンを安全な場所に保存する処理
    ...
})

// トークンをリフレッシュする
export async function refreshToken(clientID, clientSecret, refreshToken) {
    const result = await fetch('https://id.twitch.tv/oauth2/token', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: \`client_id=\${clientID}&client_secret=\${clientSecret}&grant_type=refresh_token&refresh_token=\${refreshToken}\`
    })
    const json = await result.json()
    return json
}`}
</code></pre>


  <br>
  <AdUnitLandscape />

  <br>
  <h3 class="title" id="pkce">Authorization Code + PKCE</h3>
  <p>
    PKCEとは、「Proof Key for Code Exchange by OAuth Public Clients」の略称で、「ピクシー」と読みます。<br>
    認可コード横取り攻撃を対策するためのOAuth 2.0の拡張仕様で、<a href="https://datatracker.ietf.org/doc/html/rfc7636" target="_blank" rel="noopener noreferrer">RFC7636</a>に定義されています。<br>
    <a href="#auth_code_grant_flow">Authorization code grant flow</a>を改良したものがAuthorization Code + PKCEです。<br>
    2026/4/18現在Twitchではサポートされていませんが、OAuthの事実上の標準なので、合わせて記載します。<br>

    <br>
    まずAuthorization code grant flowの問題点から説明します。<br>
    Authorization code grant flowの概要フローは以下のようになっていました。<br>
    概要フロー（再掲）<br>
    <Image src={authorization_code_grant_flow} width={700} alt="oauth" /><br>

    <br>
    Authorization code grant flowは認可コードを使ってアプリケーションの正当性を確認するフローですが、その認可コードを横取りできるケースが存在します。<br>
    スマートフォンなどでは、同じURL Schemeを持つ複数のアプリを入れることができるものがあります。<br>
    そのため、攻撃対象者のスマホに、既に入っているアプリケーションと同じURL Schemeを持つアプリケーションを入れることで、正規のアプリケーションに成りすまして認可コードを横取りできてしまいます。<br>
    <Image src={yokodori_img} width={700} alt="yokodori" /><br>

    <br>
    この対策としてPKCEでは、認可コードを発行する際にcode_challengeとcode_challenge_methodを追加で指定し、トークン発行の際にcode_verifierを指定することでアプリケーションの正当性を確認。<br>
    認可コード横取りを防止します。<br>
    <img src={pkce_img} width="800" alt="pkce" loading="lazy" /><br>
  </p>

  <br>
  <p>
    図の赤字部分が<a href="#auth_code_grant_flow">Authorization code grant flow</a>と異なる点です。<br>
    各パラメータの説明は以下表の通りです。<br>
  </p>

  <div style="padding-left: 1em;">
    <table border="1">
      <tr><th>パラメータ</th><th>説明</th></tr>
      <tr><td>code_challenge_method</td><td>plainかS256を指定</td></tr>
      <tr>
        <td>code_challenge</td>
        <td>
          code_challenge_methodがplainの場合はcode_verifierと同じ。<br>
          S256の場合はcode_verifierをSHA-256によりハッシュ化したもの。<br>
          S256の使用が強く推奨されます。<br>
        </td>
      </tr>
      <tr><td>code_verifier</td><td>43文字～128文字以内の半角英数字と[-._~]で生成されるもの</td></tr>
    </table>
  </div>

  <br>
  <p>
    図はcode_challenge_methodにS256を指定した前提で記載しています。<br>
    図の赤字部分をテキストで説明すると以下の通りです。<br>
  </p>
  <ul>
    <li>
      1. 認可リクエストで code_challenge_method, code_challenge を認証サーバーに送付します。<br>
    </li>
    <li>
      6. トークン発行依頼で code_verifier を認証サーバーに送付します。<br>
    </li>
    <li>
      認証サーバーは、code_verifier の hash 値が code_challenge と一致することを確認します。<br>
    </li>
  </ul>

  <br>
  <h3 class="title" id="pkce_state">PKCEとstateの違い</h3>
  <p>
    <a href="#auth_code_grant_flow">Authorization code grant flow</a>や<a href="#implicit_grant_flow">Implicit grant flow</a>のフローの認可リクエストで、CSRF（クロスサイトリクエストフォージェリ）対策としてstateというものを送付していました。<br>
    よく「PKCEを使えばstateは不要か？」という疑問がありますが、これらは検証の主体と目的が異なるため、併用が推奨されます。
  </p>
  <ul>
    <li>
      state: クライアント側で生成し、リクエスト送信時に認可サーバーに送付します。<br>
      リダイレクト後にクライアント側で照合することで、CSRFを防止します。<br>
    </li>
    <li>
      PKCE: 認可サーバー側で検証します。<br>
      認可コード交換時にハッシュ値を検証することで、認可コード横取り攻撃を防止します。
    </li>
  </ul>

  <p>
    つまり、「クライアントを守るためのstate」と「認可コードの正当性を守るためのPKCE」として使い分けるのが最も安全です。<br>
  </p>

  <br>
  <hr>

  <br>
  参考サイト<br>
  <ul>
    <li><a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/" target="_blank" rel="noopener noreferrer">Twitch developers Getting OAuth Access Tokens</a></li>
    <li><a href="https://dev.twitch.tv/docs/authentication/" target="_blank" rel="noopener noreferrer">Twitch developers Authentication</a></li>
    <li><a href="https://dev.twitch.tv/docs/eventsub/handling-webhook-events/" target="_blank" rel="noopener noreferrer">Twitch developers Getting Events Using Webhook Callbacks</a></li>
    <li><a href="https://dev.twitch.tv/docs/api/" target="_blank" rel="noopener noreferrer">Twitch developers Twitch API</a></li>
    <li><a href="https://dev.twitch.tv/docs/authentication/scopes/" target="_blank" rel="noopener noreferrer">Twitch developers Twitch Access Token Scopes</a></li>
    <li><a href="https://dev.twitch.tv/docs/api/reference/" target="_blank" rel="noopener noreferrer">Twitch developers Twitch API Reference</a></li>
    <li><a href="https://dev.twitch.tv/docs/eventsub/eventsub-subscription-types/" target="_blank" rel="noopener noreferrer">Twitch developers Subscription Types</a></li>
    <li><a href="https://zenn.dev/crebo_tech/articles/article-0011-20241006" target="_blank" rel="noopener noreferrer">Zenn 図でざっくり解説 OAuth 2.0入門</a></li>
    <li><a href="https://qiita.com/TakahikoKawasaki/items/e37caf50776e00e733be" target="_blank" rel="noopener noreferrer">Qiita 一番分かりやすい OAuth の説明</a></li>
    <li><a href="https://zenn.dev/naginagi124/articles/58e175779ac537" target="_blank" rel="noopener noreferrer">Zenn OAuth 2.0の理解を諦めた人へ：絶対に理解させるガイド</a></li>
    <li><a href="https://auth0.com/jp/intro-to-iam/what-is-oauth-2" target="_blank" rel="noopener noreferrer">Auth0 OAuth 2.0とは？</a></li>
    <li><a href="https://auth0.com/docs/ja-jp/authenticate/protocols/oauth" target="_blank" rel="noopener noreferrer">Auth0 OAuth 2.0の認可フレームワーク</a></li>
    <li><a href="https://datatracker.ietf.org/doc/html/rfc6749" target="_blank" rel="noopener noreferrer">RFC 6749 The OAuth 2.0 Authorization Framework</a></li>
    <li><a href="https://datatracker.ietf.org/doc/html/rfc9700" target="_blank" rel="noopener noreferrer">RFC 9700 Best Current Practice for OAuth 2.0 Security</a></li>
    <li><a href="https://zenn.dev/calloc134/books/sikkari-oauth-oidc/viewer/20-implicit-flow" target="_blank" rel="noopener noreferrer">Zenn インプリシットフローの解説と非推奨の理由</a></li>
    <li><a href="https://www.a-frontier.jp/technology/security07/" target="_blank" rel="noopener noreferrer">A-frontier OAuth2・PKCEを用いた認可コード付与方式と認証認可フロー（OAuthダンス）</a></li>
    <li><a href="https://qiita.com/ist-n-m/items/992c67b803ff460818ec" target="_blank" rel="noopener noreferrer">Qiita OAuth2.0 PKCEとは 〜Stateとの違い〜</a></li>
    <li><a href="https://auth0.com/docs/ja-jp/get-started/authentication-and-authorization-flow/authorization-code-flow-with-pkce" target="_blank" rel="noopener noreferrer">auth0 Docs Proof Key for Code Exchange（PKCE）を使った認可コードフロー</a></li>
    <li><a href="https://zenn.dev/hitoe_kami/articles/0060-articles-what-pkce-is" target="_blank" rel="noopener noreferrer">Zenn PKCE なにそれ？おいしいの？</a></li>
    <li><a href="https://e-words.jp/w/PKCE.html" target="_blank" rel="noopener noreferrer">e-Words PKCE</a></li>
    <li><a href="https://datatracker.ietf.org/doc/html/rfc7636" target="_blank" rel="noopener noreferrer">RFC7636 Proof Key for Code Exchange by OAuth Public Clients</a></li>
  </ul>
</SiteLayout>
